                        <section class="container-fluid search-container main-connect-doc-instantly-part desktop-only">
                                <div class="container"> 
                                        <div class="main-connect-1">
                                            <div class="main-connect-text-desktop">
                                                <h2>Connect With Our Doctor Instantly</h2>
                                                <p>Call, Chat or have a video call privately with a verified doctor</p>
                                                <input type="text" class="main-connect-textbox" placeholder="Your Email"> 
                                                <button type="button" class="main-connect-btn">Connect With A Doctor</button>
                                            </div>
                                        </div>
                                        <div class="main-connect-2">
                                          <img src="/images/threed_mockup (2).svg" alt="Connect With Doctor | DoctorOnCall">
                                        </div> 
                                </div>
                        </section>