                        <section class="container-fluid search-container main-connect-doc-instantly-part mobile-only">
                          <div class="container">
                              <div class="row"> 
                                      <div class="main-connect-text">
                                          <h2>Connect With Our Doctor Instantly</h2>
                                          <p>Call, Chat or have a video call privately with a verified doctor</p>
                                          <input type="text" class="main-connect-textbox" placeholder="Your Email"> 
                  <button type="button" class="main-connect-btn">Connect With A Doctor</button>
                                      </div>  
                              </div>
                          </div>
                  </section>