<section class="container home-points main-epharm-slider">
    <div class="row">
            <div class="pharmacy">
                    <h2>DoctorOnCall E-Pharmacy</h2>
                    <p>Find your medicine & health products</p>
                </div> 

                <div class="main-tabs-epharma">
                  <!-- Radio button and lable for #tab-content1 -->
                  <input type="radio" name="main-tabs-epharma" id="main-ephrma-tab-1" checked >
                  <label for="main-ephrma-tab-1">
                  <p class="main-tab-header">Medicines</p>
                  </label>
                  <!-- Radio button and lable for #tab-content2 -->
                  <input type="radio" name="main-tabs-epharma" id="main-ephrma-tab-2">
                  <label for="main-ephrma-tab-2">
                  <p class="main-tab-header">Fitness & Supplements</p>
                  </label>
                  <!-- Radio button and lable for #tab-content3 -->
                  <input type="radio" name="main-tabs-epharma" id="main-ephrma-tab-3">
                  <label for="main-ephrma-tab-3">
                  <p class="main-tab-header">Personal Care</p>
                  </label>

                  <!-- ---------------#tab-content1-------------- -->
                  <div id="main-epharma-tab-content1" class="main-ephrama-tab-content main-epharma-slider">
                    <div class="col-md-3 col-sm-6 main-ephrama-cliente">
                        <div class="main-epharma-discount">-20%</div>
                      <img class="main-medicine-image" src="/images/Fisol-1@2x-min.svg">
                      <div class="container">
                          <div class="row">
                              <p class="main-epharma-price">Fisol 3 Omega 3 Fish Oil<br>100'S</p> 
                              <div class="main-ephrama-stars">
                                  <img src="/images/icons8-star-filled-100.svg">
                                  <img src="/images/icons8-star-filled-100.svg">
                                  <img src="/images/icons8-star-filled-100.svg">
                                  <img src="/images/icons8-star-filled-100.svg"> (4)<br> <br>

                                 <span class="main-epharma-price-3"> RM 159.90 </span>  <span class="main-epharma-price-2">  RM 199.90 </span>
                              </div>  
                                  <a href="#" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a> 
                          </div>
                              
                      </div>
                  </div>
                  <!-- ---------------#tab-content2-------------- -->
                  <div class="col-md-3 col-sm-6 main-ephrama-cliente">
                      <div class="main-epharma-discount">-20%</div>
                      <img class="main-medicine-image" src="/images/appeton@2x-min.svg">
                      <div class="container">
                        <div class="row">
                            <p class="main-epharma-price">Fisol 3 Omega 3 Fish Oil<br>100'S</p> 
                            <div class="main-ephrama-stars">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg"> (4)<br> <br>

                               <span class="main-epharma-price-3"> RM 159.90 </span>  <span class="main-epharma-price-2">  RM 199.90 </span>
                            </div>  
                                <a href="#" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a> 
                        </div>
                            
                    </div>
                  </div>
                  <!-- ---------------#tab-content3 -------------- -->
                  <div class="col-md-3 col-sm-6 main-ephrama-cliente">
                      <div class="main-epharma-discount">-20%</div>
                      <img class="main-medicine-image" src="/images/folic acid@2x-min.svg">
                      <div class="container">
                        <div class="row">
                            <p class="main-epharma-price">Fisol 3 Omega 3 Fish Oil<br>100'S</p> 
                            <div class="main-ephrama-stars">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg"> (4)<br> <br>

                               <span class="main-epharma-price-3"> RM 159.90 </span>  <span class="main-epharma-price-2">  RM 199.90 </span>
                            </div>  
                                <a href="#" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a> 
                        </div>
                            
                    </div>
                  </div>
                  <!-- ---------------#tab-content4-------------- -->
                  <div class="col-md-3 col-sm-6 main-ephrama-cliente">
                      <div class="main-epharma-discount">-20%</div>
                      <img class="main-medicine-image" src="/images/appeton vitamin c@2x-min.svg"> 
                      <div class="container">
                        <div class="row">
                            <p class="main-epharma-price">Fisol 3 Omega 3 Fish Oil<br>100'S</p> 
                            <div class="main-ephrama-stars">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg">
                                <img src="/images/icons8-star-filled-100.svg"> (4)<br> <br>

                               <span class="main-epharma-price-3"> RM 159.90 </span>  <span class="main-epharma-price-2">  RM 199.90 </span>
                            </div>  
                                <a href="#" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a> 
                        </div>
                            
                    </div>
                  </div>
                  </div> 

                  <!-- #tab-content2 -->
                  <div id="main-epharma-tab-content2" class="main-ephrama-tab-content">
                      <h3> Tab title here </h3>
                      <p> Tab content here</p>
                  </div> 

                  <!-- #tab-content3 -->
                  <div id="main-epharma-tab-content3" class="main-ephrama-tab-content">
                      <h3> Tab title here </h3>
                      <p> Tab content here </p>
                  </div> 
              </div>
    </div>
</section>