<section class="container-fluid search-container">
    <div class="row">
            <div class="main-featured-on">
                    <h2>Featured On</h2>
                    <div class="main-partner-1 main-epharm-slider-2"> 
                        <div class="main-featured-diagram"><img src="/images/digital_news1.svg" alt=""></div>
                        <div class="main-featured-diagram"><img src="/images/techent2.svg" alt=""></div>
                        <div class="main-featured-diagram"><img src="/images/hacking-health.svg" alt=""></div>
                        <div class="main-featured-diagram"><img src="/images/insider.svg" alt=""></div>
                        <div class="main-featured-diagram"><img src="images/malaysia kini.svg" alt=""></div>
                        <div class="main-featured-diagram"><img src="images/vulcan.svg" alt=""></div>
                    </div>
                </div>
                    </div>
    </div>

        </button>
    </section>
