                            <section class="container search-container mobile-only">
                              <div class="container">
                                  <div class="col-md-5 main-health-articles">
                                      <div class="main-health-link1">
                                          <span class="main-docworks-signup"><img src="/images/pencegahan-gonorea (1).png" class="main-health-articles-img-1">Gonorea</span><br>Penyebab, Gejala, Diagnosis, Rawatan, Ubat Penyakit Gonore (Gonorrhea)
                                        </div>
                                        <div class="main-health-link1">
                                          <span class="main-docworks-signup"><img src="/images/AdobeStock_74071440.png" class="main-health-articles-img-1">Gonorea</span><br>Penyebab, Gejala, Diagnosis, Rawatan, Ubat Penyakit Gonore (Gonorrhea)
                                        </div>
                                        <div class="main-health-link1">
                                            <span class="main-docworks-signup"><img src="/images/AdobeStock_80815181.png" class="main-health-articles-img-1">Gonorea</span><br>Penyebab, Gejala, Diagnosis, Rawatan, Ubat Penyakit Gonore (Gonorrhea)
                                        </div>
                                        <div class="main-health-link1">
                                            <span class="main-docworks-signup"><img src="images/AdobeStock_85723613.png" class="main-health-articles-img-1">Gonorea</span><br>Penyebab, Gejala, Diagnosis, Rawatan, Ubat Penyakit Gonore (Gonorrhea)
                                        </div>
                                        <div class="main-health-link1">
                                            <span class="main-docworks-signup"><img src="/images/AdobeStock_85826198.png" class="main-health-articles-img-1"class="main-health-articles-img-4">Gonorea</span><br>Penyebab, Gejala, Diagnosis, Rawatan, Ubat Penyakit Gonore (Gonorrhea)
                                      </div>
                                      <div class="main-health-link1">
                                          <span class="main-docworks-signup"><img src="/images/AdobeStock_94999262.png" class="main-health-articles-img-1"class="main-health-articles-img-4">Gonorea</span><br>Penyebab, Gejala, Diagnosis, Rawatan, Ubat Penyakit Gonore (Gonorrhea)
                                    </div>
                                  </div>
                            </div>  
                          </section>