            <section class="container"> 
                        <div class="main-howdocworks-title">
                            <h2>How DoctorOnCall Works</h2>
                            <p>Connect to MMC registered doctors in minutes in 4 simple steps, getting the care you need is easy</p>
                        </div>
                        <!-- <div class="main-docworks-nuumber">1</div>
                          <div class="main-docworks-nuumber">2</div>
                            <div class="main-docworks-nuumber">3</div>
                              <div class="main-docworks-nuumber">4</div> -->
                        <div class="main-howdocworks-part main-howdocworks-slider">
                                <div class="main-docworks-product"> 
                                    <img src="/images/undraw_authentication_fsn5.svg" class="main-docworks-product-1">
                                    <p class="main-docworks-steps-desc-p-1"><span class="main-docworks-signup">Sign up</span> or Log In to DoctorOnCall</p>
                                </div>
                                <div class="main-docworks-product"> 
                                    <img src="/images/undraw_sleep_analysis_o5f9 (1).svg" class="main-docworks-product-2">
                                    <p class="main-docworks-steps-desc-p-2">Tell us your symptoms <br> and concerns</p>
                                </div>
                                <div class="main-docworks-product"> 
                                    <img src="/images/undraw_video_call_kxyp.svg" class="main-docworks-product-3">
                                    <p class="main-docworks-steps-desc-p-3">Speak with a doctor <br> and receive treatment <br> and answers</p>
                                </div>
                                <div class="main-docworks-product"> 
                                    <img src="/images/undraw_deliveries_131a.svg" class="main-docworks-product-4">
                                    <p class="main-docworks-steps-desc-p-4">Receive your medication-<br>delivered to your doorstep!</p>
                                </div>
                            </div> 
                </section>