<!--Connect with doctors Mobile version starts from here-->
<section class="container-fluid main-connect-doc-instantly-part mobile-only home-points"> 
    <div class="main-connect-text">
            <div class="main-epharma-b">
                    <a href="https://www.doctoroncall.com.my/patient#/signup"><h2><%= lang.mainpage_connect_doctor_instant%></h2></a>
                    </div> 
        <p><%= lang.mainpage_connect_doctor_desc%></p> 
        <button type="button"  onclick="location.href='https://www.doctoroncall.com.my/patient#/signup'" class="main-connect-btn">
            <%= lang.mainpage_consult_doctor%>
        </button>
    </div>   
    <div class="main-connect-text-2">
    <%if(language == "bm"){%>
    <picture>
    <source srcset="/images/doctoroncall_doctor_banner.webp" type="image/webp">
        <img src="/images/doctoroncall_doctor_banner.png.png" alt="Connect With Doctor | DoctorOnCall" loading="lazy">
    </picture> 
        <%}else if(language == "en"){%>
        <picture>
        <source srcset="/images/chinese-male-doconcall.webp" type="image/webp">
            <img src="/images/chinese-male-doconcall.png" alt="Connect With Doctor | DoctorOnCall" loading="lazy">
        </picture> 
            <%}%>
    </div>
</section>