<!--How DoctorOnCall section starts from here -->
<section class="container desktop-only">  
                <h2>How DoctorOnCall Works</h2>
                <p>Connect to Malaysian Medical Council registered doctors and get the care you need in 3 simple steps</p>
 

            <div class="main-howdocworks-part">
                
                    <div class="main-docworks-product"> 
                        <div class="main-docworks-label">1</div>
                        <img src="/images/undraw_authentication_fsn5.svg" alt="" class="main-docworks-product-1">
                        <p class="main-docworks-steps-desc-p-1"><a href="#" class="main-docworks-signup">Sign up</a> or Log In to DoctorOnCall</p>
                    </div> 
                    <div class="main-docworks-product">
                        <div class="main-docworks-label">2</div> 
                        <img src="/images/undraw_video_call_kxyp.svg" alt="" class="main-docworks-product-3">
                        <p class="main-docworks-steps-desc-p-3">Speak with a doctor and receive <br> treatment and answers</p>
                    </div>
                    <div class="main-docworks-product"> 
                        <div class="main-docworks-label">3</div>
                        <img src="/images/undraw_deliveries_131a.svg" alt="" class="main-docworks-product-4">
                        <p class="main-docworks-steps-desc-p-4">Receive your medication- <br> delivered to your doorstep!</p>
                    </div>

                    <div class="main-docworks-text"> 
                      
                    </div>
                    <div class="main-docworks-text">
                       
                    </div> 
                    <div class="main-docworks-text">
                       
                    </div>

            </div>
    </section>


<!--How DoctorOnCall section starts from here -->
<section class="container mobile-only"> 
        <div class="main-howdocworks-title">
            <h2>How DoctorOnCall Works</h2>
            <p>Connect to Malaysian Medical Council registered doctors and get the care you need in 4 simple steps</p>
        </div>

        <div class="main-howdocworks-part main-howdocworks-slider">

                <div class="main-docworks-product"> 
                    <div class="main-docworks-label">1</div>
                    <img src="/images/undraw_authentication_fsn5.svg" alt="" class="main-docworks-product-1">
                    <p class="main-docworks-steps-desc-p-1"><a href="#" class="main-docworks-signup">Sign up</a> or Log In to DoctorOnCall</p>
                </div> 
                <div class="main-docworks-product">
                    <div class="main-docworks-label">2</div> 
                    <img src="/images/undraw_video_call_kxyp.svg" alt="" class="main-docworks-product-3">
                    <p class="main-docworks-steps-desc-p-3">Speak with a doctor <br> and receive treatment <br> and answers</p>
                </div>
                <div class="main-docworks-product"> 
                    <div class="main-docworks-label">3</div>
                    <img src="/images/undraw_deliveries_131a.svg" alt="" class="main-docworks-product-4">
                    <p class="main-docworks-steps-desc-p-4">Receive your medication-<br>delivered to your doorstep!</p>
                </div>

            </div> 
</section>