<!--Health articles Mobile version starts from here-->
<section class="container mobile-only">
  <div class="container">
      <div class="col-md-5 main-health-articles">
          <div class="main-read-articles-part">
              <div class="main-epharma-a">
                  <a href="https://www.doctoroncall.com.my/tanya/"><h2>Ask Doctors</h2></a>
                  </div>  
      <p class="main-health-articles-tagline">Ask your health questions anonymously and get answers from a qualified doctor within minutes
            <br><a href="https://www.doctoroncall.com.my/tanya/">Ask Doctor Now</a>
      </p>
    </div>

          <a href="https://www.doctoroncall.com.my/tanya/ask/having-scoliolis-from-breastfeeding/33560" class="main-health-link1">
              <div class="main-docworks-signup">
                  <img src="/images/Breastfeeding.jpeg" loading="lazy" alt="" class="main-health-articles-img-1">
              </div>
              <div class="main-health-articles-div">Back Pain</div> 
                  I'm having pain from breastfeeding, can it be due to bad posture? 

            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/flu-cough-with-yellow-mucus-blocked-nasal/33184" class="main-health-link1">
              <div class="main-docworks-signup">
                  <img src="/images/AdobeStock_94999262.png" loading="lazy" alt="" class="main-health-articles-img-1">
                </div>
                <div class="main-health-articles-div">Sore Throat</div> 
                 I will be taking sedilic Rx linctus. Will there be drowsiness? 
            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/painful-red-bump-on-chest/33281" class="main-health-link1">
                <div class="main-docworks-signup">
                    <img src="/images/Red Bump.jpeg" loading="lazy" alt="" class="main-health-articles-img-1">
                   
                </div>
                <div class="main-health-articles-div"> General Health</div> 
                 What is red bump on chest and how to treat it? 
            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/barchycardia-presented-with-sweating/34842" class="main-health-link1">
                <div class="main-docworks-signup">
                    <img src="images/Sweating.jpeg" loading="lazy" alt="" class="main-health-articles-img-1">
                   </div>
                    <div class="main-health-articles-div"> General Health</div> 
                    I noticed a prologned Barchycardia condition presented with head... 
            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/missed-consume-pil-yasmin/34469" class="main-health-link1">
                <div class="main-docworks-signup">
                    <img src="/images/AdobeStock_228985859.png" loading="lazy" alt="" class="main-health-articles-img-1"class="main-health-articles-img-4">
                    </div>
                    <div class="main-health-articles-div">Family Planning</div> 
                     I have been consuming yasmin pil almost 5 months... 
          </a> 
      </div>
</div>  
</section>