<section class="container-fluid main-moh-banner-bg home-points">
    <a href="/coronavirus" class="main-corona-moh-a">
        <div class="container">
            <div class="row"> 
                    <div class="col-md-4 main-moh-center">
                        <img class="government-img" src="/images/MOH-logo.png">
                        <img class="moh-img" src="/images/kkm-doc.png">
                    </div>
 
                    <div class="col-md-4 main-moh-text-section-color main-moh-center"> 
                        <div class="main-moh-text">
                            <span class="main-moh-title">Novel Coronavirus</span> <br> Official Ministry of Health Telehealth Portal 
                        </div>
                    </div> 

                    <div class="col-md-4 main-moh-center main-moh-inf-part">
                        <a href="/coronavirus" class="main-moh-button">Consult MOH Doctor Online &#8594;</a>
                        <p class="main-moh-info">Available from 8.30 am - 10 pm </p>
                    </div>  
 
            </div>
        </div>
    </a>
</section>