<!--Featured on section starts from here-->
      <section class="container-fluid search-container"> 
                  <div class="main-featured-on">
                          <h2>As Featured On</h2>
                          <div class="main-partner-1 main-epharm-slider-3"> 

                            <a href="#" class="main-featured-diagram-1">
                              <img src="/images/digital_news1.svg" alt="Digital News Asia | DoctorOnCall">
                            </a>

                            <a href="#" class="main-featured-diagram">
                              <img src="/images/techent2.svg" alt="TechEnt | DoctorOnCall">
                            </a>

                            <a href="#" class="main-featured-diagram">
                              <img src="/images/hacking-health.svg" alt="Hacking Health | DoctorOnCall">
                            </a>
                            
                            <a href="#" class="main-featured-diagram">
                              <img src="/images/insider.svg" alt="Insider | DoctorOnCall">
                            </a>

                            <a href="#" class="main-featured-diagram">
                              <img src="images/malaysia kini.svg" alt="MalaysiaKini | DoctorOnCall">
                            </a>

                            <a href="#" class="main-featured-diagram-1">
                              <img src="images/vulcan.svg" alt="Vulcan Post | DoctorOnCall">
                            </a>
                          </div> 
                      </div>  
          </section>