 <!--Connect with doctors Desktop version starts from here-->
<section class="container-fluid main-connect-doc-instantly-part desktop-only">
  <div class="container"> 
    <div class="main-connect-1">
        <div class="main-connect-text-desktop"> 
            <div class="main-epharma-b">
                <a href="https://www.doctoroncall.com.my/patient#/signup"><h2>Connect With A Doctor Instantly</h2></a>
                </div>  
            <p>Call, chat or have a video call privately with a MMC registered doctor</p>
            <button type="button"  onclick="location.href='https://www.doctoroncall.com.my/patient#/signup'" class="main-connect-btn">Connect With A Doctor</button>
        </div>
    </div>
    <div class="main-connect-2">
      <img src="/images/threed_mockup (2).svg" alt="Connect With Doctor | DoctorOnCall">
    </div> 
  </div>
</section>