        <title>DoctorOnCall.com.my | Malaysia's Online Medical Clinic & Pharmacy</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Telemedicine, Video Calls, Phone Calls, Online Pharmacy, Doctors, Online Medication">
        <meta name="description" content="Talk to a Doctor on DoctorOnCall.com.my through Chat, Voice & Video Call at anytime from anywhere. Have prescribed medication delivered to your doorstep.">
        <meta name="author" content="">
        <meta property="og:url" content="https://www.doctoroncall.com.my/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="DoctorOnCall.com.my | Malaysia's Online Medical Clinic & Pharmacy">
        <meta property="og:image" content="img/bg-devices">
        <meta property="og:description" content="Talk to a Doctor on DoctorOnCall.com.my through Chat, Voice & Video Call at anytime from anywhere. Have prescribed medication delivered to your doorstep">
        <meta property="og:locale" content="en_US">
        <meta name="url" content="https://www.doctoroncall.com.my/">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="images/doctorOnCall-icon.png">


        <link rel="stylesheet" href="/stylesheets/bootstrap.grid.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css"> 

        <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "60b66b6e-9a2d-4cf8-9714-0882af79bad3",
            });
        });
        </script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6583636900389775",
        enable_page_level_ads: true
        });
        </script>
