<!--Read Health articles mobile version starts from here-->
  <section class="container-fluid mobile-only">  
    <div class="main-read-health-articles">
        <div class="main-epharma-a">
            <a href="https://www.doctoroncall.com.my/soalan"><h2><%= lang.mainpage_health_article%></h2></a>
            </div> 
        <p><%= lang.mainpage_health_article_desc%><br>
          <a href="https://www.doctoroncall.com.my/soalan"><%= lang.mainpage_read_health%></a>
        </p> 
        
      </div>
      
    <div class="main-epharm-slider-2 main-read-health-articles-mobile"> 

        <a href="https://www.doctoroncall.com.my/tanya/ask/hpv-vaccination-program/34395" class="main-health-div-1">
          <div class="main-health-diagram1">
            <img src="images/HPV Vaccination program.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
          </div>
            <p class="main-health-text-p">2 days ago<br></p> <p class="main-health-text-2">HPV vaccination program for cervical cancer prevention</p>
            <div class="main-dr-img">
            <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
            <p class="main-health-p">Dr Nur Syuhada<br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
            </div>
        </a>

        <a href="https://www.doctoroncall.com.my/tanya/ask/muscle-inflammation-pain/34696" class="main-health-div-1">
          <div class="main-health-diagram1">
              <img src="images/MuscleInflammation.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
          </div>
          <p class="main-health-text-p">1 days ago<br></p> <p class="main-health-text-2">Myositis refers to any condition causing inflammation in muscles.</p>
          <div class="main-dr-img">
              <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
              <p class="main-health-p">Dr Ramzdhan<br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
          </div>
        </a>



          <a href="https://www.doctoroncall.com.my/tanya/ask/pregnancy-abortion/24447" class="main-health-div-1">
            <div class="main-health-diagram1">
                <img src="images/Pregnancy.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
            </div>
            <p class="main-health-text-p">4 days ago<br></p> <p class="main-health-text-2">Pregnancy signs to identify pregnancy.</p>
            <div class="main-dr-img">
                <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
                <p class="main-health-p">Dr Nur Syuhada  <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
            </div>
            </a>


    

            <a href="https://www.doctoroncall.com.my/tanya/ask/anxiety-disorder-depression-ptsd-and-bipolar/33954" class="main-health-div-1">
              <div class="main-health-diagram1">
                <img src="images/AnxietyDisorder.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
                </div>
                    <p class="main-health-text-p">3 days ago<br></p> <p class="main-health-text-2">What is Anxiety Disorder, Depression, PTSD and Bipolar?</p>
                    <div class="main-dr-img">
                        <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                        <p class="main-health-p">Dr Ramzdhan  <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
                    </div>
              </a>

                <a href="https://www.doctoroncall.com.my/tanya/ask/burning-eyes-and-headache/34253" class="main-health-div-1">
                    <div class="main-health-diagram1">
                      <img src="images/BurningEyes.jpeg" alt="Tanya | DoctorOnCall">
                    </div>
                        <p class="main-health-text-p">2 days ago<br></p> <p class="main-health-text-2">How to Avoid burning eyes and headache?</p>
                    <div class="main-dr-img">
                      <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                      <p class="main-health-p">Dr Ramzdhan <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
                  </div>
                  </a>

                    <a href="https://www.doctoroncall.com.my/tanya/ask/skin-problem-black-scars-wounds/32964" class="main-health-div-1">
                      <div class="main-health-diagram1">
                          <img src="images/SkinProblem.jpeg" alt="Tanya | DoctorOnCall">
                      </div>
                      <p class="main-health-text-p">3 days ago<br></p> <p class="main-health-text-2">How to get rid of black scars/wounds?</p>
                      <div class="main-dr-img">
                          <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                          <p class="main-health-p">Dr Ramzdhan <br> <generalpractiti>General Practitioner, 7 yrs exp</generalpractiti></p> 
                      </div>
                      </a>
      </div> 

<!--BM section-->
<%if(language == "bm"){%>


<div class="main-epharm-slider-2 main-read-health-articles-mobile"> 

  <a href="https://www.doctoroncall.com.my/soalan/gusi-bengkak" class="main-health-div-1">
    <div class="main-health-diagram1">
      <img src="images/AdobeStock_143966522.png" loading="lazy" alt="Tanya | DoctorOnCall">
    </div>
      <p class="main-health-text-p">2 days ago<br></p> 
      <p class="main-health-text-2">Apakah Penyebab Gusi Bengkak Dan Cara Merawat ?<br></p>
      <div class="main-dr-img">
      <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
      <p class="main-health-p">Dr M Ramzdhan<br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
      </div>
  </a>

  <a href="https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" class="main-health-div-1">
    <div class="main-health-diagram1">
        <img src="images/AdobeStock_63845531.png" loading="lazy" alt="Tanya | DoctorOnCall">
    </div>
    <p class="main-health-text-p">1 days ago<br></p> 
    <p class="main-health-text-2">Tanda hamil (Pregnancy Signs) bagi mengenalpasti anda mengandung.</p>
    <div class="main-dr-img">
        <img src="/images/DrSashini.png" loading="lazy" alt="Dr Sashini | DoctorOnCall" class="main-health-dr-img">
        <p class="main-health-p">Dr Sashini Seeni<br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
    </div>
  </a>



    <a href="https://www.doctoroncall.com.my/soalan/kerap-kencing" class="main-health-div-1">
      <div class="main-health-diagram1">
          <img src="images/AdobeStock_234927937.png" loading="lazy" alt="Tanya | DoctorOnCall">
      </div>
      <p class="main-health-text-p">4 days ago<br></p> <p class="main-health-text-2">Apakah Punca Bagi Kerap Kencing Dan Rawatan yang betul?</p>
      <div class="main-dr-img">
          <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
          <p class="main-health-p">D rRamzdhan  <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
      </div>
      </a>




      <a href="https://www.doctoroncall.com.my/soalan/kencing-berdarah" class="main-health-div-1">
        <div class="main-health-diagram1">
          <img src="images/AdobeStock_118246577.png" loading="lazy" alt="Tanya | DoctorOnCall">
          </div>
              <p class="main-health-text-p">3 days ago<br></p> 
              <p class="main-health-text-2">Bolehkah doktor terangkan apakah Penyebab Kencing Berdarah?</p>
              <div class="main-dr-img">
                  <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                  <p class="main-health-p">Dr Ramzdhan  <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
              </div>
        </a>

          <a href="https://www.doctoroncall.com.my/soalan/gatal-kemaluan" class="main-health-div-1">
              <div class="main-health-diagram1">
                <img src="images/AdobeStock_203387316.png" alt="Tanya | DoctorOnCall">
              </div>
                  <p class="main-health-text-p">2 days ago<br></p> 
                  <p class="main-health-text-2">Kecenderungan untuk mendapat kegatalan di bahagian kemaluan?</p>
              <div class="main-dr-img">
                <img src="/images/DrSashini.png" loading="lazy" alt="Dr Sashini | DoctorOnCall" class="main-health-dr-img">
                <p class="main-health-p">Dr Sashini Seeni <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
            </div>
            </a>

              <a href="https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal?logIn=false" class="main-health-div-1">
                <div class="main-health-diagram1">
                    <img src="images/AdobeStock_278022401.png" alt="Tanya | DoctorOnCall">
                </div>
                <p class="main-health-text-p">3 days ago<br></p> 
                <p class="main-health-text-2">Bolehkah doktor terangkan apakah bacaan gula normal?</p>
                <div class="main-dr-img">
                    <img src="/images/DrSri.png" loading="lazy" alt="D rSri | DoctorOnCall" class="main-health-dr-img">
                    <p class="main-health-p">Dr Sri<br> <generalpractiti>General Practitioner, 7 yrs exp</generalpractiti></p> 
                </div>
                </a>
</div> 
<%}%>
  </section>   