<!-- new popup -->
<!-- start div for popup-->
<div class="overlay" id="overlay"></div>
<div class="popup" id="popup">
  <!-- start div for content in desktop -->
  <div class="desktop-only">
    <!-- start div for popup container-->
    <div class="popup-container"
      style="background-image: url('images/world-heart-day-popup-bg-desktop.png'), url('/images/world-heart-day-popup-bg-desktop.png'), url('/images/world-heart-day-popup-bg-desktop');">

      <div class="popup-content">
 
        <div class="popup-promotion"> 
             Discounts up to  
        </div>

         <div class="popup-promotion-price">
          RM50
        </div>

        <button type="button" class="popup-yes-button">
          <a href="https://www.doctoroncall.com.my/medicine/en?utm_source=home-popup-RM50&utm_medium=give-me-discount&utm_campaign=home&utm_content=19-sep-19">
              Get my RM50 off  </a>
        </button>

        <div class="popup-close popup-no" id="close" onclick="closePopup()">
            Not Today  
        </div>
      </div>

    </div>
  </div>
  <!-- end div for content in desktop -->

  <!-- start div for content in mobile -->
  <div class="popup-container-mobile mobile-only"
    style="background-image: url('/images/world-heart-day-popup-bg-mobile.png'), url('/images/world-heart-day-popup-bg-mobile.png'), url('/images/world-heart-day-popup-bg-mobile.png');">

    <div class="popup-content">
 
      <div class="popup-promotion"> 
           Discounts up to  
      </div>

      <div class="popup-promotion-price">
        RM50
      </div>

      <button type="button" class="popup-yes-button">
        <a href="https://www.doctoroncall.com.my/medicine/en?utm_source=home-popup-RM50&utm_medium=give-me-discount&utm_campaign=home&utm_content=19-sep-19">
            Get my RM50 off  </a>
      </button>

      <div class="popup-close popup-no" id="close" onclick="closePopup()">
         Not Today 
      </div>
    </div>

  </div>
  <!-- end div for content in mobile -->
</div>
<!-- end div for popup-->
 
<!-- end of new popup -->