<!--Read about disease tab starts from here-->
<section class="container main-read-disease"> 
    <div class="main-health-related-tabs"> 

      <!-- Radio button and lable for #tab-content1 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab1" checked > 
      <label for="main-tab1">
        <p class="main-tab-header-1"> General Health</p>
      </label>
      <!-- Radio button and lable for #tab-content2 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab2">
      <label for="main-tab2">
          <p class="main-tab-header-2">Men's Health</p>
      </label>
      <!-- Radio button and lable for #tab-content3 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab3">
      <label for="main-tab3">
          <p class="main-tab-header-3">Women's Health</p>
      </label>
      <!-- Radio button and lable for #tab-content3 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab4">
      <label for="main-tab4">
          <p class="main-tab-header-4">Sexual Health</p>
      </label> 

      <!-- #tab-content1 -->
      <div id="main-tab-content1" class="tab-content">  
          <div class="container">
            <div class="row">
            <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                <img src="/images/icons8-eye-100.svg" loading="lazy" alt="Eye Condition | DoctorOnCall">  
              <p>Eye Condition</p> 
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                <img src="/images/icons8-coughing-100.svg" loading="lazy" alt="Sore Throat | DoctorOnCall">  
                  <p>Sore Throat</p> 
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                <img src="images/icons8-brain-100.svg" loading="lazy" alt="Migraine | DoctorOnCall">  
                  <p>Migraine</p> 
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                <img src="/images/icons8-bandage-100.svg" loading="lazy" alt="Minor Injuries | DoctorOnCall">  
                  <p>Minor Injuries</p> 
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                <img src="/images/icons8-liver-100.svg" loading="lazy" alt="Fatty Liver | DoctorOnCall">  
                  <p>Fatty Liver</p>  
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                <img src="/images/icons8-being-sick-100.svg" loading="lazy" alt="Cough & Cold | DoctorOnCall"> 
                  <p>Cough & Cold</p>  
              </a> 

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                <img src="/images/icons8-mosquito.svg" loading="lazy" alt="Dengue | DoctorOnCall">
                  <p>Dengue</p>
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                <img src="/images/icons8-diarrhea-50.png" loading="lazy" alt="Constipation | DoctorOnCall">
                <p>Constipation</p>
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                <img src="/images/icons8-skin.svg" loading="lazy" alt="Skin Condition | DoctorOnCall">
                <p>Skin Condition</p>
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                <img src="/images/icons8-no-smoking-50.png" loading="lazy" alt="Asthma | DoctorOnCall">
                <p>Asthma</p>
              </a>

              <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                <img src="/images/icons8-water-50.png" loading="lazy" alt="Acid Reflux | DoctorOnCall">
                <p>Acid Reflux</p>
              </a> 
            </div>
          </div>  
      </div> 

      <!-- #tab-content2 -->
      <div id="main-tab-content2" class="tab-content">
        <div class="container">
          <div class="row">

            <a href="https://www.doctoroncall.com.my/kesihatan-lelaki" class="col-md-3 col-sm-4 main-read-1">
              <svg viewBox="0 0 57.46 86.39" class="main-upside-down-img"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M64.56,89.11c0.33-4.32.84-7.53,0.77-10.73a210.42,210.42,0,0,0-1.15-21.54c-0.34-2.7-.33-4.55,1.27-6.75,9-12.39,8.22-30.48-1.82-41.63-0.8-.89-2.36-1.11-3.56-1.65,0.42,1.15.56,2.52,1.29,3.4a31.32,31.32,0,0,1,2.8,36.37,39.15,39.15,0,0,1-2.55,3.32c-1-1.38-1.56-2.33-2.27-3.17-6.72-8-14.79-13.08-25.71-11.56A14.2,14.2,0,0,0,21.6,46c-1,5,1.72,10.34,7.28,13.62,8.69,5.14,17.45,4.07,26.1-.16,2-1,3.79-2.29,6-3.66,3.65,11,1,21.64.64,33.12-4.23-4.23-7.7-7.8-11.31-11.23-0.66-.63-1.87-0.67-2.83-1,0.2,1,.07,2.23.64,2.82,4.32,4.51,8.71,9,13.28,13.21a3.69,3.69,0,0,0,3.6,0c4.48-4.16,8.79-8.52,13-12.95,0.65-.68.58-2,0.84-3.09-1,.33-2.16.41-2.83,1C72.41,81.16,68.93,84.73,64.56,89.11Z" transform="translate(-21.4 -6.81)"/><path d="M64.56,89.11c4.37-4.37,7.85-7.95,11.47-11.38,0.67-.64,1.88-0.71,2.83-1-0.26,1-.19,2.41-0.84,3.09-4.22,4.43-8.53,8.79-13,12.95a3.69,3.69,0,0,1-3.6,0c-4.57-4.25-9-8.7-13.28-13.21-0.57-.6-0.44-1.86-0.64-2.82,1,0.31,2.17.35,2.83,1,3.61,3.43,7.09,7,11.31,11.23,0.33-11.49,3-22.14-.64-33.12-2.23,1.37-4,2.69-6,3.66-8.65,4.23-17.41,5.3-26.1.16C23.33,56.34,20.59,51,21.6,46a14.2,14.2,0,0,1,12-10.82c10.92-1.52,19,3.6,25.71,11.56,0.71,0.84,1.29,1.79,2.27,3.17a39.15,39.15,0,0,0,2.55-3.32,31.32,31.32,0,0,0-2.8-36.37c-0.73-.89-0.87-2.26-1.29-3.4,1.2,0.53,2.76.75,3.56,1.65,10,11.15,10.84,29.25,1.82,41.63-1.6,2.2-1.62,4.05-1.27,6.75a210.42,210.42,0,0,1,1.15,21.54C65.4,81.57,64.89,84.78,64.56,89.11Zm-10-43.27c-6.06-6-13.75-8.88-20.59-7.63-4.91.9-8.64,4.22-9.47,8.42-0.72,3.65,1.58,7.92,5.85,10.45,7.34,4.34,15,3.85,22.21.17C60.55,53.18,61.22,53.39,54.59,45.83Z" transform="translate(-21.4 -6.81)"/><path class="cls-1" d="M54.59,45.83c6.63,7.56,6,7.35-2,11.42-7.2,3.68-14.87,4.17-22.21-.17-4.27-2.53-6.58-6.8-5.85-10.45,0.83-4.2,4.56-7.52,9.47-8.42C40.84,36.95,48.53,39.8,54.59,45.83Z" transform="translate(-21.4 -6.81)"/></svg>
              <p>Erectile Dysfunction</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-lelaki" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-time-50.png" loading="lazy" alt="Premature Ejaculation | DoctorOnCall">
              <p>Premature Ejaculation</p>
            </a>
          </div>
        </div>
      </div> 

      <!-- #tab-content3 -->
      <div id="main-tab-content3" class="tab-content">
        <div class="container">
          <div class="row">

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-wet.svg" loading="lazy" alt="Vaginal Discharge | DoctorOnCall">
              <p>Vaginal Discharge</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-calendar-12.svg" loading="lazy" alt="Missed Period| DoctorOnCall">
              <p>Missed Period</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-kidney-50.png" loading="lazy" alt="UTI | DoctorOnCall">
              <p>UTI</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-water-50.png" loading="lazy" alt="Irregular Period  | DoctorOnCall">
              <p>Irregular Period</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-contraception-50.png" loading="lazy" alt="Birth Control | DoctorOnCall">
              <p>Birth Control</p>
            </a>
          </div>
        </div>
      </div> 

      <!-- #tab-content4 -->
      <div id="main-tab-content4" class="tab-content"> 
        <div class="container">
          <div class="row">

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-condom.svg" loading="lazy" alt="Syphilis | DoctorOnCall">
              <p>Syphilis</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" href="#"v class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-aids-ribbon.svg" loading="lazy" alt="HIV | DoctorOnCall">
              <p>HIV</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-lips-50.png" loading="lazy" alt="Herpes | DoctorOnCall">
              <p>Herpes</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-virus.svg" loading="lazy" alt="Gonorrhea | DoctorOnCall">
              <p>Gonorrhea</p>
            </a>
          </div>
        </div>
      </div>    
  </div> 
</section>