<!--Featured on section starts from here-->
      <section class="container-fluid main-featured-on desktop-only home-points"> 
        <div class="container">
                <h2><%= lang.mainpage_featured_on%></h2>
                <div class="main-partner-1"> 

                  <a href="https://www.digitalnewsasia.com/startups/doctoroncall-aims-grow-next-level" class="main-featured-diagram">
                    <img src="/images/digital_news1.svg" loading="lazy" alt="Digital News Asia | DoctorOnCall">
                  </a>

                  <a href="https://techent.tv/doctoroncall-launch/" class="main-featured-diagram">
                    <img src="/images/techent2.svg" loading="lazy" alt="TechEnt | DoctorOnCall">
                  </a>

                  <a href="https://hacking-health.org/" class="main-featured-diagram">
                    <img src="/images/hacking-health.svg" loading="lazy" alt="Hacking Health | DoctorOnCall">
                  </a>
                  
                  <a href="https://www.themalaysianinsight.com/s/1450/" class="main-featured-diagram">
                    <img src="/images/insider.svg" loading="lazy" alt="Insider | DoctorOnCall">
                  </a>

                  <a href="https://www.malaysiakini.com/advertorial/378713" class="main-featured-diagram">
                    <img src="images/malaysia kini.svg" loading="lazy" alt="MalaysiaKini | DoctorOnCall">
                  </a>

                  <a href="https://vulcanpost.com/606235/compare-health-doctor-startup-platform-functions/" class="main-featured-diagram">
                    <img src="images/vulcan.svg" loading="lazy" alt="Vulcan Post | DoctorOnCall">
                  </a>
                </div> 
            </div>  
          </section>

          <!--Featured on section starts from here-->
      <section class="container-fluid main-featured-on mobile-only"> 
        <div class="container">
                <h2><%= lang.mainpage_featured_on%></h2>
                <div class="main-partner-1"> 

                  <a href="https://www.digitalnewsasia.com/startups/doctoroncall-aims-grow-next-level" class="main-featured-diagram-mobile">
                    <img src="/images/digital_news1.svg" loading="lazy" alt="Digital News Asia | DoctorOnCall">
                  </a>

                  <a href="https://techent.tv/doctoroncall-launch/" class="main-featured-diagram-mobile">
                    <img src="/images/techent2.svg" loading="lazy" alt="TechEnt | DoctorOnCall">
                  </a>

                  <a href="https://hacking-health.org/" class="main-featured-diagram-mobile">
                    <img src="/images/hacking-health.svg" loading="lazy" alt="Hacking Health | DoctorOnCall">
                  </a>
                </div> 
                  
                <div class="main-partner-1">
                  <a href="https://www.themalaysianinsight.com/s/1450/" class="main-featured-diagram-mobile">
                    <img src="/images/insider.svg" loading="lazy" alt="Insider | DoctorOnCall">
                  </a>

                  <a href="https://www.malaysiakini.com/advertorial/378713" class="main-featured-diagram-mobile">
                    <img src="images/malaysia kini.svg" loading="lazy" alt="MalaysiaKini | DoctorOnCall">
                  </a>

                  <a href="https://vulcanpost.com/606235/compare-health-doctor-startup-platform-functions/" class="main-featured-diagram-mobile">
                    <img src="images/vulcan.svg" loading="lazy" alt="Vulcan Post | DoctorOnCall">
                  </a>
                </div>
            </div>  
          </section>