<!--Partners section starts from here-->
    <section class="container-fluid desktop-only"> 
            <div class="main-partner-1 main-epharm-slider-2"> 
                <div class="main-read-search"><img src="/images/allianz.svg" alt="Allianz | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/prudential.svg" alt="Prudential | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/berjaya-sompo-insurance.svg" alt="Berjaya Sompo Insurance | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/tune-protect.svg" alt ="Tune Protect | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/perak_prihatin.svg" alt="Perak Prihatin | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/Penang 2030 logo with jata.svg" alt="Penang 2030 | DoctorOnCall"></div>
        </div>
        <div class="main-partner-2 main-epharm-slider-2"> 
                <div class="main-read-search"><img src="images/caring.svg" alt="Caring Pharmacy | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/kpj-healthcare-copy.svg" alt="KPJ Healthcare | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/MiCare.svg" alt="MiCare | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/kida.svg" alt="Kasih Ibu Darul Aman | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/medkad.svg" alt="MEDKAD | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/peduli-sihat.svg" alt="Peduli Sihat | DoctorOnCall"></div>
        </div>   
    </section>

<!--Partners section starts from here-->
        <section class="container-fluid mobile-only"> 
            <div class="main-partner-1 main-epharm-slider-2"> 
                <div class="main-read-search"><img src="/images/allianz.svg" alt="Allianz | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/prudential.svg" alt="Prudential | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/berjaya-sompo-insurance.svg" alt="Berjaya Sompo Insurance | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/tune-protect.svg" alt ="Tune Protect | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/perak_prihatin.svg" alt="Perak Prihatin | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/Penang 2030 logo with jata.svg" alt="Penang 2030 | DoctorOnCall"></div>
        </div>
        <div class="main-partner-3 main-epharm-slider-2"> 
                <div class="main-read-search"><img src="images/caring.svg" alt="Caring Pharmacy | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/kpj-healthcare-copy.svg" alt="KPJ Healthcare | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/MiCare.svg" alt="MiCare | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/kida.svg" alt="Kasih Ibu Darul Aman | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/medkad.svg" alt="MEDKAD | DoctorOnCall"></div>
                <div class="main-read-search"><img src="images/peduli-sihat.svg" alt="Peduli Sihat | DoctorOnCall"></div>
        </div>   
        </section>