<!--Find Doctor in Top Specialist mobile version section starts from here -->
<section class="container-fluid mobile-only">
  <div class="container">  
      <div class="main-doc-headings">
                <h2>Find Doctors and Top Specialists</h2>
                <p>Book your medical specialist appointment across Malaysia's trusted clinic & hospital chains</p>
            </div>
            <div class="main-find-doc-diagram-section-mobile main-finddoc-slider-2">

            <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/paediatrician" class="main-find-doc-diagram-1 main-find-doc-diagram">
                <div class="main-find-doc-1-text">
                    <p>Pediatrician</p>
                </div>
            </a>

                <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/orthopedic-surgeon" class="main-find-doc-diagram-2 main-find-doc-diagram">
                    <div class="main-find-doc-2-text">
                        <p>Orthopaedic</p>
                    </div>
                </a>

                <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/obstetrician--gynaecologist" class="main-find-doc-diagram-3 main-find-doc-diagram">
                    <div class="main-find-doc-3-text">
                        <p>Obstetrician & Gynecologist </p>
                    </div>
                </a>

                <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/cardiologist" class="main-find-doc-diagram-4 main-find-doc-diagram">
                    <div class="main-find-doc-4-text">
                        <p>Cardiologist</p>
                    </div>
                </a>

                <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/otolaryngologist-ent" class="main-find-doc-diagram-5 main-find-doc-diagram">
                    <div class="main-find-doc-5-text">
                        <p>Ear Nose Throat Specialist</p>
                    </div>
                </a>

                <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/dermatologist" class="main-find-doc-diagram-6 main-find-doc-diagram">
                    <div class="main-find-doc-6-text">
                        <p>Dermatologist</p>
                    </div>
                </a>
        </div> 
      </div> 
    </section>

<!--Find Doctor in Top Specialist desktop version section starts from here -->
<section class="container-fluid desktop-only">
    <div class="container">  
            <div class="main-doc-headings">
                  <h2>Find Doctors and Top Specialists</h2>
                  <p>Book your medical specialist appointment across Malaysia's trusted clinic & hospital chains</p>
            </div>

              <div class="main-find-doc-diagram-section main-epharm-slider-2">

              <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/paediatrician" class="main-find-doc-diagram-1 main-find-doc-diagram-desktop">
                  <div class="main-find-doc-1-text">
                      <p>Pediatrician</p>
                  </div>
              </a>
                  <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/orthopedic-surgeon" class="main-find-doc-diagram-2 main-find-doc-diagram-desktop">
                      <div class="main-find-doc-2-text">
                          <p>Orthopaedic</p>
                      </div>
                  </a>
                  <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/obstetrician--gynaecologist" class="main-find-doc-diagram-3 main-find-doc-diagram-desktop">
                      <div class="main-find-doc-3-text">
                          <p>Obstetrician & Gynecologist </p>
                      </div>
                  </a>
                  <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/cardiologist" class="main-find-doc-diagram-4 main-find-doc-diagram-desktop">
                      <div class="main-find-doc-4-text">
                          <p>Cardiologist</p>
                      </div>
                  </a>
                  <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/otolaryngologist-ent" class="main-find-doc-diagram-5 main-find-doc-diagram-desktop">
                      <div class="main-find-doc-5-text">
                          <p>Ear Nose Throat Specialist</p>
                      </div>
                  </a>
                  <a href="https://www.doctoroncall.com.my/find-doctor/petaling-jaya/doctors/dermatologist" class="main-find-doc-diagram-6 main-find-doc-diagram-desktop">
                      <div class="main-find-doc-6-text">
                          <p>Dermatologist</p>
                      </div>
                  </a>
          </div> 
        </div> 
      </section>