<!--Read about disease tab starts from here-->
<section class="container main-read-disease"> 
    <div class="main-health-related-tabs"> 

      <!-- Radio button and lable for #tab-content1 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab1" checked > 
      <label for="main-tab1">
        <p class="main-tab-header-1"> General Health</p>
      </label>
      <!-- Radio button and lable for #tab-content2 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab2">
      <label for="main-tab2">
          <p class="main-tab-header-2">Men's Health</p>
      </label>
      <!-- Radio button and lable for #tab-content3 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab3">
      <label for="main-tab3">
          <p class="main-tab-header-3">Women's Health</p>
      </label>
      <!-- Radio button and lable for #tab-content3 -->
      <input type="radio" name="main-health-related-tabs" id="main-tab4">
      <label for="main-tab4">
          <p class="main-tab-header-4">Sexual Health</p>
      </label> 

      <!-- #tab-content1 -->
      <div id="main-tab-content1" class="tab-content">  
          <div class="container">
            <div class="row">
                <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                    <img src="/images/icons8-eye-100.svg" alt="">  
                  <p>Eye Condition</p> 
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                    <img src="/images/icons8-coughing-100.svg" alt="">  
                      <p>Sore Throat</p> 
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                    <img src="images/icons8-brain-100.svg" alt="">  
                      <p>Migraine</p> 
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                    <img src="/images/icons8-bandage-100.svg" alt="">  
                      <p>Minor Injuries</p> 
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                    <img src="/images/icons8-liver-100.svg" alt="">  
                      <p>Fatty Liver</p>  
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1"> 
                    <img src="/images/icons8-being-sick-100.svg" alt=""> 
                      <p>Cough & Cold</p>  
                  </a> 

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                    <img src="/images/icons8-mosquito.svg" alt="">
                      <p>Dengue</p>
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                    <img src="/images/icons8-diarrhea-50.png" alt="">
                    <p>Constipation</p>
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                    <img src="/images/icons8-skin.svg" alt="">
                    <p>Skin Condition</p>
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                    <img src="/images/icons8-no-smoking-50.png" alt="">
                    <p>Asthma</p>
                  </a>

                  <a href="https://www.doctoroncall.com.my/kesihatan" class="col-md-3 col-sm-4 main-read-1">
                    <img src="/images/icons8-water-50.png" alt="">
                    <p>Acid Reflux</p>
                  </a> 
            </div>
          </div>  
      </div> 

      <!-- #tab-content2 -->
      <div id="main-tab-content2" class="tab-content">
        <div class="container">
          <div class="row">

            <a href="https://www.doctoroncall.com.my/kesihatan-lelaki" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-curly-arrow-50.png" class="main-upside-down-img" alt="">
              <p>Erectile Dysfunction</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-lelaki" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-time-50.png" alt="">
              <p>Premature Ejaculation</p>
            </a>
          </div>
        </div>
      </div> 

      <!-- #tab-content3 -->
      <div id="main-tab-content3" class="tab-content">
        <div class="container">
          <div class="row">

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-wet.svg" alt="">
              <p>Vaginal Discharge</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-calendar-12.svg" alt="">
              <p>Missed Period</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-kidney-50.png" alt="">
              <p>UTI</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-water-50.png" alt="">
              <p>Irregular Period</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-wanita" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-contraception-50.png" alt="">
              <p>Birth Control</p>
            </a>
          </div>
        </div>
      </div> 

      <!-- #tab-content4 -->
      <div id="main-tab-content4" class="tab-content"> 
        <div class="container">
          <div class="row">

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-condom.svg" alt="">
              <p>Syphilis</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" href="#"v class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-aids-ribbon.svg" alt="">
              <p>HIV</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-lips-50.png" alt="">
              <p>Herpes</p>
            </a>

            <a href="https://www.doctoroncall.com.my/kesihatan-seksual" class="col-md-3 col-sm-4 main-read-1">
              <img src="/images/icons8-virus.svg" alt="">
              <p>Gonorrhea</p>
            </a>
          </div>
        </div>
      </div>    
  </div> 
</section>