 <!--Connect with doctors Desktop version starts from here-->
<section class="container-fluid main-connect-doc-instantly-part desktop-only home-points">
   
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 connect-with-doc-div-1">
        <div class="main-connect-text-desktop"> 
            <div class="main-epharma-b">
                <a href="https://www.doctoroncall.com.my/patient#/signup"><h2><%= lang.mainpage_connect_doctor_instant%></h2></a>
                </div>  
            <p><%= lang.mainpage_connect_doctor_desc%></p>
            <button type="button"  onclick="location.href='https://www.doctoroncall.com.my/patient#/signup'" class="main-connect-btn">
            <%= lang.mainpage_consult_doctor%>
            </button>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 connect-with-doc-div-2">
      <%if(language == "bm"){%>
      <img src="/images/doctoroncall_doctor_banner.png" alt="Connect With Doctor | DoctorOnCall">
      <%}else if(language == "en"){%>
      <img src="/images/chinese-male-doconcall.png" alt="Connect With Doctor | DoctorOnCall">
        <%}%>
    </div> 
  </div>
  
</section>