<!--Read Health articles mobile version starts from here-->
  <section class="container-fluid mobile-only">  
    <div class="main-read-health-articles">
        <div class="main-epharma-a">
            <a href="https://www.doctoroncall.com.my/soalan"><h2>Health Articles</h2></a>
            </div> 
        <p>Expand your health knowledge immediately with answers from registered doctors.<br>
          <a href="https://www.doctoroncall.com.my/soalan">Read Health Articles Now</a>
        </p> 
        
      </div>
      
    <div class="main-epharm-slider-2 main-read-health-articles-mobile"> 

        <a href="https://www.doctoroncall.com.my/tanya/ask/hpv-vaccination-program/34395" class="main-health-div-1">
          <div class="main-health-diagram1">
            <img src="images/HPV Vaccination program-min.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
          </div>
            <p class="main-health-text-p">2 days ago<br></p> <p class="main-health-text-2">HPV vaccination program for cervical cancer prevention</p>
            <div class="main-dr-img">
            <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
            <p class="main-health-p">Dr Nur Syuhada<br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
            </div>
        </a>

        <a href="https://www.doctoroncall.com.my/tanya/ask/muscle-inflammation-pain/34696" class="main-health-div-1">
          <div class="main-health-diagram1">
              <img src="images/MuscleInflammation-min.jpeg" loading="lazy" alt="" alt="Tanya | DoctorOnCall">
          </div>
          <p class="main-health-text-p">1 days ago<br></p> <p class="main-health-text-2">Myositis refers to any condition causing inflammation in muscles.</p>
          <div class="main-dr-img">
              <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
              <p class="main-health-p">Dr Ramzdhan<br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
          </div>
        </a>



          <a href="https://www.doctoroncall.com.my/tanya/ask/pregnancy-abortion/24447" class="main-health-div-1">
            <div class="main-health-diagram1">
                <img src="images/Pregnancy-min.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
            </div>
            <p class="main-health-text-p">4 days ago<br></p> <p class="main-health-text-2">Pregnancy signs to identify pregnancy.</p>
            <div class="main-dr-img">
                <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
                <p class="main-health-p">Dr Nur Syuhada  <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
            </div>
            </a>


    

            <a href="https://www.doctoroncall.com.my/tanya/ask/anxiety-disorder-depression-ptsd-and-bipolar/33954" class="main-health-div-1">
              <div class="main-health-diagram1">
                <img src="images/AnxietyDisorder-min.jpeg" loading="lazy" alt="Tanya | DoctorOnCall">
                </div>
                    <p class="main-health-text-p">3 days ago<br></p> <p class="main-health-text-2">What is Anxiety Disorder, Depression, PTSD and Bipolar?</p>
                    <div class="main-dr-img">
                        <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                        <p class="main-health-p">Dr Ramzdhan  <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
                    </div>
              </a>

                <a href="https://www.doctoroncall.com.my/tanya/ask/burning-eyes-and-headache/34253" class="main-health-div-1">
                    <div class="main-health-diagram1">
                      <img src="images/BurningEyes-min.jpeg" alt="Tanya | DoctorOnCall">
                    </div>
                        <p class="main-health-text-p">2 days ago<br></p> <p class="main-health-text-2">How to Avoid burning eyes and headache?</p>
                    <div class="main-dr-img">
                      <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                      <p class="main-health-p">Dr Ramzdhan <br> <generalpractiti>General Practitioner, 8 yrs exp</generalpractiti></p> 
                  </div>
                  </a>

                    <a href="https://www.doctoroncall.com.my/tanya/ask/skin-problem-black-scars-wounds/32964" class="main-health-div-1">
                      <div class="main-health-diagram1">
                          <img src="images/SkinProblem-min.jpeg" alt="Tanya | DoctorOnCall">
                      </div>
                      <p class="main-health-text-p">3 days ago<br></p> <p class="main-health-text-2">How to get rid of black scars/wounds?</p>
                      <div class="main-dr-img">
                          <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                          <p class="main-health-p">Dr Ramzdhan <br> <generalpractiti>General Practitioner, 7 yrs exp</generalpractiti></p> 
                      </div>
                      </a>
      </div> 
  </section>   