<!--Partners section starts from here--> 
    <section class="container-fluid desktop-only"> 
        <div class="main-partner-1"> 
        <div class="main-partner-image-group">
                <img src="/images/Partners-1-doctoroncall.png" loading="lazy" alt="Prudential , Prudential BSN , Allianz | DoctorOnCall">
                <img src="/images/Partners-2-doctoroncall.png" loading="lazy" alt ="Zurich , Zurich Takaful , Great Eastern Takaful | DoctorOnCall">
                <img src="/images/Partners-3-doctoroncall.png" loading="lazy" alt="Tune Protect , AXA , Berjaya Sompo Insurance | DoctorOnCall">
        </div>  
        this is partner-link branch
        <div class="main-partner-image-group">
                <img src="/images/Partners-4-doctoroncall.png" loading="lazy" alt="KPJ , Caring, Boost | DoctorOnCall">
                <img src="/images/Partners-5-doctoroncall.png" loading="lazy" alt ="MiCare , Asia Assistance , MEDIKad | DoctorOnCall">
                <img src="/images/Partners-6-doctoroncall.png" loading="lazy" alt="Self Care , Peduli Sihat , Penang 2030 | DoctorOnCall">
        </div>   
        </div>

        <div class="main-partner-2"> 
        <div class="main-partner-image-group-2">
                <img src="/images/Partners-7-doctoroncall.png" loading="lazy" alt="Kasih Ibu Darul Aman , Perak Prihatin | DoctorOnCall"> 
        </div> 
        </div> 
    </section> 