<!--Read Health articles mobile version starts from here-->
  <section class="container-fluid mobile-only">  
    <div class="main-read-health-articles">
        <h2>Read Health Articles</h2>
        <p>Expand your health knowledge immediately with answers from registered doctors.</p> 
      </div>
      
    <div class="main-epharm-slider-2"> 

        <a href="https://www.doctoroncall.com.my/soalan/gusi-bengkak" class="main-health-div-1">
          <div class="main-health-diagram1">
            <img src="images/AdobeStock_143966522.png" loading="lazy">
          </div>
            <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Apakah Penyebab Gusi Bengkak <br> Dan Cara Merawat ?</p>
          <div class="main-dr-img">
            <img src="/images/DrRamzdhan.png" loading="lazy" alt="" class="main-health-dr-img">
            <p class="main-health-p">Dr Ramzdhan<br> <generalpractiti>General Practitioner, 8 years</generalpractiti></p> 
          </div>
        </a>

          <a href="https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" class="main-health-div-1">
            <div class="main-health-diagram1">
                <img src="images/AdobeStock_63845531.png" loading="lazy" alt="">
            </div>
            <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Tanda hamil (Pregnancy Signs) bagi<br> mengenalpasti anda mengandung.</p>
            <div class="main-dr-img">
                <img src="/images/DrSashini.png" loading="lazy" alt="" class="main-health-dr-img">
                <p class="main-health-p">Dr Sashini Seeni  <br> <generalpractiti>General Practitioner, 8 years</generalpractiti></p> 
            </div>
            </a>

            <a href="https://www.doctoroncall.com.my/soalan/kerap-kencing" class="main-health-div-1">
                <div class="main-health-diagram1">
                    <img src="images/AdobeStock_234927937.png" loading="lazy" alt="">
                </div>
                <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Apakah Punca Dan Rawatan Bagi Kerap <br> Kencing?</p>
                <div class="main-dr-img">
                    <img src="/images/DrRamzdhan.png" loading="lazy" alt="" class="main-health-dr-img">
                    <p class="main-health-p">Dr Ramzdhan<br> <generalpractiti>General Practitioner, 8 years</generalpractiti></p> 
                </div>
              </a>
    

            <a href="https://www.doctoroncall.com.my/soalan/kencing-berdarah" class="main-health-div-1">
              <div class="main-health-diagram1">
                <img src="images/AdobeStock_118246577.png" loading="lazy" alt="">
                </div>
                    <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text-2">Bolehkah doktor terangkan apakah <br> Penyebab Kencing Berdarah?<br><br></p>
                    <div class="main-dr-img">
                        <img src="/images/DrRamzdhan.png" loading="lazy" alt="" class="main-health-dr-img">
                        <p class="main-health-p">Dr Ramzdhan  <br> <generalpractiti>General Practitioner, 8 years</generalpractiti></p> 
                    </div>
              </a>

                <a href="https://www.doctoroncall.com.my/soalan/gatal-kemaluan" class="main-health-div-1">
                    <div class="main-health-diagram1">
                      <img src="images/AdobeStock_203387316.png" alt="">
                    </div>
                        <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text-3">Adakah lelaki dan wanita mempunyai <br> kecenderungan yang sama untuk<br>  mendapat kegatalan di bahagian<br> kemaluan ?</p>
                    <div class="main-dr-img">
                      <img src="/images/DrSashini.png" loading="lazy" alt="" class="main-health-dr-img">
                      <p class="main-health-p">Dr Sashini Seeni <br> <generalpractiti>General Practitioner, 8 years</generalpractiti></p> 
                  </div>
                  </a>

                    <a href="https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal" class="main-health-div-1">
                      <div class="main-health-diagram1">
                          <img src="images/AdobeStock_278022401.png" alt="">
                      </div>
                      <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text-4">Bolehkah doktor terangkan apa bacaan <br> gula normal (Normal Glucose Reading)<br> dan bagaimana memeriksa parasnya?</p>
                      <div class="main-dr-img">
                          <img src="/images/DrSri.png" loading="lazy" alt="" class="main-health-dr-img">
                          <p class="main-health-p">Dr Sri Vik <br> <generalpractiti>General Practitioner, 7 years</generalpractiti></p> 
                      </div>
                      </a>

      </div> 
  </section>   