<!--Connect with doctors Mobile version starts from here-->
        <section class="container-fluid main-connect-doc-instantly-part mobile-only"> 
                      <div class="main-connect-text">
                          <h2>Connect With Our Doctor Instantly</h2>
                          <p>Call, Chat or have a video call privately with a verified doctor</p> 
                      </div>   
                      <div class="main-connect-text-2">
                      <input type="text" class="main-connect-textbox" placeholder="Your Email"> 
                      <button type="button" class="main-connect-btn">Connect With A Doctor</button>
                      </div>
        </section>