<!--E-Pharmacy section starts from here -->
<section class="container home-points"> 
  <div class="main-pharmacy-section">
      <h2>DoctorOnCall E-Pharmacy</h2>
      <p>Find your medicine & health products</p>
    </div> 

      <div class="main-tabs-epharma">
        <!-- Radio button and lable for #tab-content1 -->
        <input type="radio" name="main-tabs-epharma" id="main-ephrma-tab-1" checked >
        <label for="main-ephrma-tab-1">
        <p class="main-epharma-tab-1">Medicines</p>
        </label>
        <!-- Radio button and lable for #tab-content2 -->
        <input type="radio" name="main-tabs-epharma" id="main-ephrma-tab-2">
        <label for="main-ephrma-tab-2">
        <p class="main-epharma-tab-2">Wellness & Lifestyle</p>
        </label>
        <!-- Radio button and lable for #tab-content3 -->
        <input type="radio" name="main-tabs-epharma" id="main-ephrma-tab-3">
        <label for="main-ephrma-tab-3">
        <p class="main-epharma-tab-3">Personal Care</p>
        </label>

        <!-- ---------------#tab-content(1)1-------------- -->
        <div id="main-epharma-tab-content1" class="main-ephrama-tab-content main-epharm-slider-4">  
                <div class="main-ephrama-cliente"> 
                    <img class="main-medicine-image" src="/images/Image 24.png" alt="Lipitor 20mg Tablet | DoctorOnCall"> 
                    <p class="main-epharma-price">Lipitor 20mg Tablet</p> 
                      <div class="main-ephrama-stars">                
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                      <span class="main-epharma-price-3"> RM 42.00 </span> 
                        </div>  
                          <a href="https://www.doctoroncall.com.my/medicine/en/drugs/lipitor-20mg-30s" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" alt="" class="main-epharma-img">Add to Cart</a>  
                  </div>  
          
        <!-- ---------------#tab-content(1)2-------------- --> 
              <div class="main-ephrama-cliente"> 
                  <img class="main-medicine-image" src="/images/Image 25.png" alt="Crestor 10mg Tablet | DoctorOnCall"> 
                  <p class="main-epharma-price">Crestor 10mg Tablet</p> 
                    <div class="main-ephrama-stars">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                      <span class="main-epharma-price-3"> RM 112.00</span>   
                      </div>  
                    <a href="https://www.doctoroncall.com.my/medicine/en/drugs/crestor" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" alt="" class="main-epharma-img">Add to Cart</a>  
                </div> 

        <!-- ---------------#tab-content(1)3 -------------- --> 
              <div class="main-ephrama-cliente"> 
                  <img class="main-medicine-image" src="/images/Image 26.png" alt="Plavix 75mg Tablet | DoctorOnCall"> 
                  <p class="main-epharma-price">Plavix 75mg Tablet</p> 
                    <div class="main-ephrama-stars">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                      <span class="main-epharma-price-3">RM 105.00</span>   
                      </div>  
                      <a href="https://www.doctoroncall.com.my/medicine/en/drugs/plavix-75mg" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
                </div>   
        <!-- ---------------#tab-content(1)4-------------- --> 
              <div class="main-ephrama-cliente"> 
                    <img class="main-medicine-image" src="/images/Image 27.png" alt="Norvasc 5mg Tablet | DoctorOnCall">  
                    <p class="main-epharma-price">Norvasc 5mg Tablet </p> 
                    <div class="main-ephrama-stars">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt="">
                      <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                      <span class="main-epharma-price-3"> RM 18.00</span>   
                      </div>  
                      <a href="https://www.doctoroncall.com.my/medicine/en/drugs/norvasc-5mg" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
                </div> 
        <!-- ---------------#tab-content(1)5-------------- --> 
              <div class="main-ephrama-cliente-2"> 
                    <img class="main-medicine-image" src="/images/Image 28.png" alt="Aspirin Cardio 100mg | DoctorOnCall">  
                    <p class="main-epharma-price">Aspirin Cardio 100mg</p> 
                      <div class="main-ephrama-stars">
                        <img src="/images/icons8-star-filled-100.svg" alt="">
                        <img src="/images/icons8-star-filled-100.svg" alt="">
                        <img src="/images/icons8-star-filled-100.svg" alt="">
                        <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                        <span class="main-epharma-price-3"> RM 3.90 </span>   
                        </div>  
                        <a href="https://www.doctoroncall.com.my/medicine/en/drugs/aspirin-cardio-100mg" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
                </div> 

          </div> 


        <div id="main-epharma-tab-content2" class="main-ephrama-tab-content main-epharm-slider-4">
            <!-- ---------------#tab-content(2)1-------------- --> 
            <div class="main-ephrama-cliente"> 
                <img class="main-medicine-image" src="/images/flavettes.png" alt="Flavettes Effervescent Glow Tablet | DoctorOnCall">  
                <p class="main-epharma-price">Flavettes Effervescent<br> Glow Tablet</p> 
                  <div class="main-ephrama-stars">
                    <img src="/images/icons8-star-filled-100.svg" alt="">
                    <img src="/images/icons8-star-filled-100.svg" alt="">
                    <img src="/images/icons8-star-filled-100.svg" alt="">
                    <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                    <span class="main-epharma-price-3"> RM 55.00 </span>   
                    </div>  
                    <a href="https://www.doctoroncall.com.my/medicine/en/supplements/flavettes-effervescent-vit-c-zinc-30-tabs" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
            </div> 

          <!-- ---------------#tab-content(2)2-------------- --> 
          <div class="main-ephrama-cliente"> 
              <img class="main-medicine-image" src="/images/001387-1-large.png" alt="Blackmores Buffered Vitamin | DoctorOnCall">  
              <p class="main-epharma-price">Blackmores Buffered <br> Vitamin C</p> 
                <div class="main-ephrama-stars">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                  <span class="main-epharma-price-3"> RM 43.02 </span>   
                  </div>  
                  <a href="https://www.doctoroncall.com.my/medicine/en/supplements/pss-blackmores-vitamin-c-30s" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
          </div> 


          <!-- ---------------#tab-content(2)3-------------- --> 
          <div class="main-ephrama-cliente"> 
              <img class="main-medicine-image" src="/images/neurobion-dosage.png" alt="Neurobion 10’s | DoctorOnCall">  
              <p class="main-epharma-price">Neurobion 10’s</p> 
                <div class="main-ephrama-stars">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                  <span class="main-epharma-price-3"> RM 13.80 </span>   
                  </div>  
                  <a href="https://www.doctoroncall.com.my/medicine/en/supplements/pss-blackmores-vitamin-c-30s" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
          </div> 
          
          <!-- ---------------#tab-content(2)4-------------- --> 
          <div class="main-ephrama-cliente"> 
              <img class="main-medicine-image" src="/images/Image 22.png" alt="Berocca Effervescent Tablet | DoctorOnCall">  
              <p class="main-epharma-price">Berocca Effervescent<br> Tablet</p> 
                <div class="main-ephrama-stars">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                  <span class="main-epharma-price-3"> RM 61.60 </span>   
                  </div>  
                  <a href="https://www.doctoroncall.com.my/medicine/en/supplements/berocca-effervescent-15-tabs" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
          </div> 

        <!-- ---------------#tab-content(2)5-------------- --> 
        <div class="main-ephrama-cliente-2"> 
            <img class="main-medicine-image" src="/images/Image 23.png" alt="Blackmores Multivitamins | DoctorOnCall">  
            <p class="main-epharma-price">Blackmores Multivitamins<br> + Minerals Tablet</p> 
              <div class="main-ephrama-stars">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                <span class="main-epharma-price-3"> RM 32.80</span>   
                </div>  
                <a href="https://www.doctoroncall.com.my/medicine/en/supplements/multivites-capsule" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
        </div> 
        </div> 



      <div id="main-epharma-tab-content3" class="main-ephrama-tab-content main-epharm-slider-4">
          <!-- ---------------#tab-content(3)1-------------- --> 
          <div class="main-ephrama-cliente"> 
              <img class="main-medicine-image" src="/images/Image 29.png" alt="Alpecin Caffeine Hybrid Shampoo | DoctorOnCall">  
              <p class="main-epharma-price">Alpecin Caffeine Hybrid <br> Shampoo</p> 
                <div class="main-ephrama-stars">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                  <span class="main-epharma-price-3"> RM 34.00 </span>   
                  </div>  
                  <a href="https://www.doctoroncall.com.my/medicine/en/hygiene/alpecin-caffiene-shampoo" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
          </div> 

          <!-- ---------------#tab-content(3)2-------------- --> 
          <div class="main-ephrama-cliente"> 
              <img class="main-medicine-image" src="/images/Image 30.png" alt="Audace Hair Tonic | DoctorOnCall">  
              <p class="main-epharma-price">Audace Hair Tonic</p> 
                <div class="main-ephrama-stars">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                  <span class="main-epharma-price-3"> RM 47.92</span>   
                  </div>  
                  <a href="https://www.doctoroncall.com.my/medicine/en/hygiene/audace-hair-tonic" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
          </div> 

          <!-- ---------------#tab-content(3)3-------------- --> 
          <div class="main-ephrama-cliente"> 
              <img class="main-medicine-image" src="/images/Image 31.png" alt="Ridped Lotion | DoctorOnCall">  
              <p class="main-epharma-price">Ridped Lotion</p> 
                <div class="main-ephrama-stars">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt="">
                  <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                  <span class="main-epharma-price-3"> RM 12.00</span>   
                  </div>  
                  <a href="https://www.doctoroncall.com.my/medicine/en/hygiene/ridped-lotion" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
          </div> 

        <!-- ---------------#tab-content(3)4-------------- --> 
        <div class="main-ephrama-cliente"> 
            <img class="main-medicine-image" src="/images/Image 32.png" alt="Selsun 2.5% Suspension | DoctorOnCall">  
            <p class="main-epharma-price">Selsun 2.5% Suspension</p> 
              <div class="main-ephrama-stars">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                <span class="main-epharma-price-3">RM 43.70</span>   
                </div>  
                <a href="https://www.doctoroncall.com.my/medicine/en/hygiene/selsun-2-5pct-suspension" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
        </div> 

        <!-- ---------------#tab-content(3)5-------------- --> 
        <div class="main-ephrama-cliente-2"> 
            <img class="main-medicine-image" src="/images/Image 33.png" alt="Pantene Hair Fall Shampoo | DoctorOnCall">  
            <p class="main-epharma-price">Pantene Hair Fall Shampoo</p> 
              <div class="main-ephrama-stars">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt="">
                <img src="/images/icons8-star-filled-100.svg" alt=""> (4)<br> <br>

                <span class="main-epharma-price-3">RM 15.90</span>   
                </div>  
                <a href="https://www.doctoroncall.com.my/medicine/en/hygiene/pantene-hair-fall-shampoo-340-ml" class="main-e-pharm-btn"><img src="/images/icons8-shopping-bag-100.png" class="main-epharma-img">Add to Cart</a>  
        </div> 


      </div>
        </div> 
</section>