<!--Subscribe section starts from here-->
      <section class="container-fluid main-subscribe-health home-points">
          <div class="container">
              <div class="row">
                  <div class="col-md-6"> 
                      <div class="main-subscribe-email-text">
                          <h2><%= lang.mainpage_subscribe_health_insight%></h2>
                          <p><%= lang.mainpage_subscribe_desc%></p>
                      </div> 
                  </div>
                  <div class="col-md-6">
                      <div class="main-subscribe-email">
                          <button  onclick="location.href='https://www.doctoroncall.com.my/patient#/signin'" class="main-subscribe-email-btn">
                        <%= lang.mainpage_subscribe%>
                        </button>
                      </div>
                  </div>
              </div>
          </div>  
      </section>