<!--Subscribe section starts from here-->
      <section class="container-fluid main-subscribe-health">
          <div class="container">
              <div class="row">
                  <div class="col-md-6"> 
                      <div class="main-subscribe-email-text">
                          <h2>Subscribe to our Free Health Insights</h2>
                          <p>Get notified about new health articles, and any new offers and new promotions. You can unsubscribe at any time. </p>
                      </div> 
                  </div>
                  <div class="col-md-6">
                      <div class="main-subscribe-email">
                          <input type="text" class="main-subscribe-email-input" placeholder="Your Email">
                          <button  onclick="location.href='https://www.doctoroncall.com.my/patient#/signin'" class="main-subscribe-email-btn">Subscribe</button>
                      </div>
                  </div>
              </div>
          </div>  
      </section>