<!--Health articles Desktop version starts from here-->
  <section class="container desktop-only">
  <div class="main-read-articles-part"> 
  <h2>Tanya Doktor (Soalan)</h2>
    <div class="col-md-7 main-health-articles"> 

        <a href="https://www.doctoroncall.com.my/prediabetes" class="main-health-articles-diagram-1"> 
        <div class="main-health-articles-HPV">Kencing Manis</div> 
        <div class="main-health-articles-desc">
            <div class="main-health-p-HPV"> Apakah Penyakit Prediabetes Dan Cara Untuk Merawat?</div>
            <img src="images/DrSashini.png" alt="" class="main-health-dr-img-2">
            <p class="main-health-drsash">Dr Sashini <br> </p>
            <p class="main-health-articles-dr">General Practitioner</p>
        </div> 
        </a> 

        <a href="https://www.doctoroncall.com.my/sildenafil-ubat-viagra#show" class="main-health-articles-diagram-2"> 
            <div class="main-health-articles-HPV-2">Mati Pucuk</div> 
            <div class="main-health-articles-desc-2">
                <p class="main-health-p-HPV-2">Bagaimana Slidenafil Ubat Viagra Berkesan Dan Cara Pengunaan</p> 
                <img src="images/DrSashini.png" alt="" class="main-health-dr-img-2">
            <p class="main-health-drsash">Dr Sashini <br> </p>
            <p class="main-health-articles-dr">General Practitioner</p>
            </div> 
        </a>   

        <a href="https://www.doctoroncall.com.my/keputihan-candidiasis" class="main-health-articles-diagram-3"> 
            <div class="main-health-articles-HPV-2">Keputihan</div> 
            <div class="main-health-articles-desc-3">
                <p class="main-health-p-HPV-2">Penyebab, Gejala, Diagnosis, Pengubatan Dan Pencegahan Penyakit Keputihan</p> 
            <img src="images/DrSashini.png" alt="" class="main-health-dr-img-3">
            <p class="main-health-drsash">Dr Sashini <br> </p>
            <p class="main-health-articles-dr">General Practitioner</p>
            </div>
            </a>  
    </div>
    <div class="col-md-5 main-health-articles">

        <a href="https://www.doctoroncall.com.my/vaginosis-bakteria" class="main-health-link1">
            <div class="main-docworks-signup"><img src="/images/AdobeStock_201847138.png" alt="" class="main-health-articles-img-1"><br>Keputihan</div><br>Apakah penyakit Vaginosis bakteria dan rawatannya?
        </a>

        <a href="https://www.doctoroncall.com.my/urti-flu-demam-selsema" class="main-health-link1">
            <div class="main-docworks-signup"><img src="/images/AdobeStock_94999262.png" alt="" class="main-health-articles-img-1"><br>URTI</div><br>Apakah URTI Dan Cara Mengelakkan Jangkitan?
        </a>

        <a href="https://www.doctoroncall.com.my/haid-sakit#show" class="main-health-link1">
            <div class="main-docworks-signup"><img src="/images/AdobeStock_273298980.png" alt="" class="main-health-articles-img-1"><br>Haid Sakit</div><br>Apakah senggugut dan bagaimana mencegah dan merawat?
        </a>

        <a href="https://www.doctoroncall.com.my/vulvitis#show" class="main-health-link1">
            <div class="main-docworks-signup"><img src="images/AdobeStock_237217548.png" alt="" class="main-health-articles-img-1"><br>Keputihan</div><br>Apakah penyakit Vulvitis dan rawatan sesuai?
        </a>

        <a href="https://www.doctoroncall.com.my/penyakit-kelamin-sti" class="main-health-link1">
            <div class="main-docworks-signup"><img src="/images/AdobeStock_228985859.png" alt="" class="main-health-articles-img-1"class="main-health-articles-img-4"><br>Keputihan</div><br>Penyebab, Gejala, Diagnosis Dan Ubat Sesuai Untuk Penyakit Kelamin
        </a>
        </div>
    </div>  
</div>
  </section>   