<!--Health articles Desktop version starts from here-->
  <section class="container desktop-only">
  <div class="main-read-articles-part"> 
          <div class="col-md-7 main-health-articles"> 
                  <div class="main-health-articles-diagram-1"> 
                  <div class="main-health-articles-HPV">Kencing Manis</div> 
                  <div class="main-health-articles-desc">
                      <div class="main-health-p-HPV"> Apakah Penyakit Prediabetes Dan Cara Untuk Merawat?</div>
                      <img src="images/Ellipse 124@2x.png" alt="" class="main-health-dr-img-2">
                      <p class="main-health-p">Dr Sashini <br> </p>
                      <p class="main-health-articles-dr">General Practitioner</p>
                  </div> 
                  </div> 
                  <div class="main-health-articles-diagram-2"> 
                      <div class="main-health-articles-HPV-2">Mati Pucuk</div> 
                      <div class="main-health-articles-desc-2">
                          <p class="main-health-p-HPV-2">Bagaimana Slidenafil Ubat Viagra Berkesan Dan Cara Pengunaan</p> 
                          <img src="images/Ellipse 124@2x.png" alt="" class="main-health-dr-img-2">
                      <p class="main-health-p">Dr Sashini <br> </p>
                      <p class="main-health-articles-dr">General Practitioner</p>
                      </div> 
                  </div>   
                  <div class="main-health-articles-diagram-3"> 
                      <div class="main-health-articles-HPV-2">Keputihan</div> 
                      <div class="main-health-articles-desc-3">
                          <p class="main-health-p-HPV-2">Penyebab, Gejala, Diagnosis Dan Rawatan Sakit Pedih Ulu Hati (Refluks)</p> 
                        <img src="images/Ellipse 124@2x.png" alt="" class="main-health-dr-img-3">
                        <p class="main-health-p">Dr Sashini <br> </p>
                        <p class="main-health-articles-dr">General Practitioner</p>
                      </div>
                      </div>  
              </div>
              <div class="col-md-5 main-health-articles">
                  <div class="main-health-link1">
                      <div class="main-docworks-signup"><img src="/images/AdobeStock_201847138.png" alt="" class="main-health-articles-img-1"><br>Keputihan</div><br>Apakah penyakit Vaginosis bakteria dan rawatannya?
                    </div>
                    <div class="main-health-link1">
                      <div class="main-docworks-signup"><img src="/images/AdobeStock_94999262.png" alt="" class="main-health-articles-img-1"><br>URTI</div><br>Tolong terangkan apa simptom sakit appendix (Appenicitis) dan perlukan rawatan seperti
                    </div>
                    <div class="main-health-link1">
                        <div class="main-docworks-signup"><img src="/images/AdobeStock_273298980.png" alt="" class="main-health-articles-img-1"><br>Haid Sakit</div><br>Apakah senggugut dan bagaimana mencegah dan merawat?
                    </div>
                    <div class="main-health-link1">
                        <div class="main-docworks-signup"><img src="images/AdobeStock_237217548.png" alt="" class="main-health-articles-img-1"><br>Keputihan</div><br>Apakah penyakit Vulvitis dan rawatan sesuai?
                    </div>
                    <div class="main-health-link1">
                        <div class="main-docworks-signup"><img src="/images/AdobeStock_228985859.png" alt="" class="main-health-articles-img-1"class="main-health-articles-img-4"><br>Keputihan</div><br>Penyebab, Gejala, Diagnosis Dan Ubat Sesuai Untuk Penyakit Kelamin
                  </div>
              </div>
          </div>  
</div>
  </section>   