<!--Health articles Desktop version starts from here-->
  <section class="container desktop-only">
  <div class="main-read-articles-part">    
  <div class="main-epharma-a">
        <a href="https://www.doctoroncall.com.my/tanya/"><h2><%= lang.mainpage_ask_question%></h2></a>
        </div>  
  <p class="main-health-articles-tagline"><%=lang.mainpage_ask_doctor_desc%>
        <br><a href="https://www.doctoroncall.com.my/tanya/">Ask Doctor Now</a>
  </p>
<!--First column-->
    <div class="col-md-7 main-health-articles"> 

        <a href="https://www.doctoroncall.com.my/tanya/ask/period-not-regular-like-usual/35073" class="main-health-articles-diagram-1"> 
            <div class="main-health-articles-HPV">Prolonged Period</div> 
            <div class="main-health-articles-desc">
                <div class="main-health-p-HPV">Why are my periods so irregular?</div>
                <img src="images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img-2">
                <p class="main-health-drsash">Dr Ramzdhan <br> </p>
                <p class="main-health-articles-dr">General Practitioner</p>
            </div> 
        </a> 

        <a href="https://www.doctoroncall.com.my/tanya/ask/i-want-ask-about-gabapin-300-or-gabapentin/32566" class="main-health-articles-diagram-2"> 
            <div class="main-health-articles-HPV-2">General Health</div> 
            <div class="main-health-articles-desc-2">
                <p class="main-health-p-HPV-2">Can I use gabapentin to recover my ankle injury and heal damage tissues?</p> 
                <img src="images/DrSri.png" loading="lazy" alt="Dr Sri Viknarajan | DoctorOnCall" class="main-health-dr-img-2">
            <p class="main-health-drsash">Dr Sri Viknarajan <br> </p>
            <p class="main-health-articles-dr">General Practitioner</p>
            </div> 
        </a>   

        <a href="https://www.doctoroncall.com.my/tanya/ask/pneumonia-and-viral-infection/33717" class="main-health-articles-diagram-3"> 
            <div class="main-health-articles-HPV-2">Breathing Problem</div> 
            <div class="main-health-articles-desc-3">
                <p class="main-health-p-HPV-2">What causes pneumonia and how to recover that?</p> 
            <img src="images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada Zulkifli | DoctorOnCall" class="main-health-dr-img-3">
            <p class="main-health-drsash">Dr Nur Syuhada Zulkifli <br> </p>
            <p class="main-health-articles-dr">General Practitioner</p>
            </div>
            </a>  
    </div>
 <!--Second column-->
    <div class="col-md-5 main-health-articles">

        <a href="https://www.doctoroncall.com.my/tanya/ask/having-scoliolis-from-breastfeeding/33560" class="main-health-link1">
            <div class="ask-doctor-col-2-image-1 main-health-articles-img-1"></div>
            <div class="main-docworks-signup"> 
                <br>
               
                <p class="main-health-articles-p-2">Back Pain</p> 
            </div><br>
            <p class="main-health-articles-p-2">
                    I'm having pain from breastfeeding, can it be due to bad posture?
                </p>
        </a>

        <a href="https://www.doctoroncall.com.my/tanya/ask/flu-cough-with-yellow-mucus-blocked-nasal/33184" class="main-health-link1">
            <div class="ask-doctor-col-2-image-2 main-health-articles-img-1"></div>
            <div class="main-docworks-signup">
               <br>
                <p class="main-health-articles-p-2">Sore Throat</p>
            </div><br>
            <p class="main-health-articles-p-2">I will be taking sedilic Rx linctus. Will there be drowsiness and sleepiness?</p>
        </a>

        <a href="https://www.doctoroncall.com.my/tanya/ask/painful-red-bump-on-chest/33281" class="main-health-link1">
            <div class="ask-doctor-col-2-image-3 main-health-articles-img-1"></div>
            <div class="main-docworks-signup">
                <br>
                <p class="main-health-articles-p-2">General Health</p>
            </div><br>
                <p class="main-health-articles-p-2">What is red bump on chest and how to treat it?</p>
        </a>

        <a href="https://www.doctoroncall.com.my/tanya/ask/barchycardia-presented-with-sweating/34842" class="main-health-link1">
            <div class="ask-doctor-col-2-image-4 main-health-articles-img-1"></div>
            <div class="main-docworks-signup">
                <br>
                <p class="main-health-articles-p-2">General Health</p>
            </div><br><p class="main-health-articles-p-2">I noticed a prologned Barchycardia condition presented with head.. </p>
        </a>

        <a href="https://www.doctoroncall.com.my/tanya/ask/missed-consume-pil-yasmin/34469" class="main-health-link1">
            <div class="ask-doctor-col-2-image-5 main-health-articles-img-1"></div>
            <div class="main-docworks-signup">
                <br>
                <p class="main-health-articles-p-2">Family Planning</p>
            </div><br>
            <p class="main-health-articles-p-2">I have been consuming yasmin pil almost 5 months...</p>
        </a>
        </div>
    </div>  
</div>
  </section>   