<!--Next page button-->
    <section class="container">
        <button class="main-nextpage-btn-2"  onclick="location.href='https://www.doctoroncall.com.my/penyakit-a-z'"><%= lang.mainpage_next_page%></button>

    </section>