<!--Subscribe section starts from here-->
      <section class="container-fluid search-container main-subscribe-health">
          <div class="container">
              <div class="row">
                  <div class="col-md-6"> 
                      <div class="main-subscribe-email-text">
                          <h2>Subscribe to Free Health Insight</h2>
                          <p>Subscribe to get notified about new health articles, and any new offers. You could unsubscribe at any time. </p>
                      </div> 
                  </div>
                  <div class="col-md-6">
                      <div class="main-subscribe-email">
                          <input type="text" class="main-subscribe-email-input" placeholder="Your Email">
                          <button class="main-subscribe-email-btn">Subscribe</button>
                      </div>
                  </div>
              </div>
          </div>  
      </section>