<!--Partners section starts from here--> 
<section class="container-fluid mobile-only home-points"> 
<div class="main-partner-1"> 
        <div class="main-partner-image-group-mobile">
                <img src="/images/Partners-1-doctoroncall.png" loading="lazy" alt="Prudential , Prudential BSN , Allianz | DoctorOnCall">
                <img src="/images/Partners-2-doctoroncall.png" alt ="Zurich , Zurich Takaful , Great Eastern Takaful | DoctorOnCall">
        </div>  
        <div class="main-partner-image-group-mobile">
                <img src="/images/Partners-3-doctoroncall.png" loading="lazy" alt="Tune Protect , AXA , Berjaya Sompo Insurance | DoctorOnCall">
                <img src="/images/Partners-4-doctoroncall.png" loading="lazy" alt="KPJ , Caring, Boost | DoctorOnCall"> 
        </div>   
        <div class="main-partner-image-group-mobile">
                <img src="/images/Partners-5-doctoroncall.png" loading="lazy" alt ="MiCare , Asia Assistance , MEDIKad | DoctorOnCall">
                <img src="/images/Partners-6-doctoroncall.png" loading="lazy" alt="Self Care , Peduli Sihat , Penang 2030 | DoctorOnCall">
        </div>
        </div>

        <div class="main-partner-1"> 
        <div class="main-partner-image-group-mobile main-partner-doc-merhant">
                <img src="/images/Partners-7-doctoroncall.png" loading="lazy" alt="Kasih Ibu Darul Aman , Perak Prihatin | DoctorOnCall"> 
                <img src="/images/MMoney - RGB.svg" class="main-partner-merchan" loading="lazy" alt="Merchantrade Money | DoctorOnCall">
        </div> 
        </div> 
</section>