        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="Talk to a Doctor on DoctorOnCall.com.my through Chat, Voice & Video Call at anytime from anywhere. Have prescribed medication delivered to your doorstep.">
        <meta name="author" content="">
        <link rel="stylesheet" href="/stylesheets/bootstrap.grid.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- <link rel="stylesheet" href="/css/style-headerfooter.css"> -->
        <title>DoctorOnCall.com.my | Malaysia's Online Medical Clinic & Pharmacy</title>