<!--Connect with doctors Mobile version starts from here-->
<section class="container-fluid main-connect-doc-instantly-part mobile-only home-points"> 
    <div class="main-connect-text">
            <div class="main-epharma-b">
                    <a href="https://www.doctoroncall.com.my/patient#/signup"><h2><%= lang.mainpage_connect_doctor_instant%></h2></a>
                    </div> 
        <p><%= lang.mainpage_connect_doctor_desc%></p> 
    </div>   
    <div class="main-connect-text-2">
    <button type="button"  onclick="location.href='https://www.doctoroncall.com.my/patient#/signup'" class="main-connect-btn">
        <%= lang.mainpage_consult_doctor%>
    </button>
    </div>
</section>