<!--Partners section starts from here--> 
    <section class="container-fluid desktop-only"> 
        <div class="main-partner-1"> 
        <div class="main-partner-image-group">
                <img src="/images/Group 1037.png" alt="Prudential , Prudential BSN , Allianz | DoctorOnCall">
                <img src="images/Group 1038.png" alt ="Zurich , Zurich Takaful , Great Eastern Takaful | DoctorOnCall">
                <img src="images/Group 1039.png" alt="Tune Protect , AXA , Berjaya Sompo Insurance | DoctorOnCall">
        </div>  
        <div class="main-partner-image-group">
                <img src="/images/Group 1040.png" alt="KPJ , Caring, Boost | DoctorOnCall">
                <img src="images/Group 1041.png" alt ="MiCare , Asia Assistance , MEDIKad | DoctorOnCall">
                <img src="images/Group 1042.png" alt="Self Care , Peduli Sihat , Penang 2030 | DoctorOnCall">
        </div>   
        </div>

        <div class="main-partner-2"> 
        <div class="main-partner-image-group-2">
                <img src="/images/Group 1043.png" alt="Kasih Ibu Darul Aman , Perak Prihatin | DoctorOnCall"> 
        </div> 
        </div>
    </section> 