 <div class="nps-border" id="npsBorderid">
        <p class="nps-border-title">Let us know how we're doing?</p> 
        <p class="nps-border-sub-title">We are always trying to improve what we do and your feedback is important!</p>  

        <div class="alignStars"> 
            <img src="./stylesheets/on.svg" class="star" id="star0" onclick="fillstar(this);setStars(1)" />
            <img src="./stylesheets/on.svg" class="star" id="star1" onclick="fillstar(this);setStars(2)" />
            <img src="./stylesheets/on.svg" class="star" id="star2" onclick="fillstar(this);setStars(3)" />
            <img src="./stylesheets/on.svg" class="star" id="star3" onclick="fillstar(this);setStars(4)" />
            <img src="./stylesheets/on.svg" class="star" id="star4" onclick="fillstar(this);setStars(5)" />
        </div> 

        <div class="clearfix"></div>    
        <p id="starMsg" class="star-5-msg"></p> 
        <div id="status"></div>  

        <div class="clearfix"></div> 
        <div class="nps-review-box"> 
            <div id="nps-review-less-1" onclick="setReview('nps-review-less-1','easeOfUse')" class="copy-clipboard nps-review-less"></div> 
            <div id="nps-review-less-2" onclick="setReview('nps-review-less-2','deliverySpeed')" class="copy-clipboard nps-review-less"></div>
            <div id="nps-review-less-3" onclick="setReview('nps-review-less-3','easeOPurchaseStep')" class="copy-clipboard nps-review-less"></div>
            <div id="nps-review-less-4" onclick="setReview('nps-review-less-4','customerService')" class="copy-clipboard nps-review-less"></div>
            <div id="nps-review-less-5" onclick="setReview('nps-review-less-5','performanceOfWebsite')" class="copy-clipboard nps-review-less"></div>
        </div>

        <div class="nps-input">
            <input type="text" id="nps-input" class="nps-border-input" placeholder="Share your experiences and help others make better choices!"> 
        </div>   

        <div class="nps-href-box">  
            <button class="nps-href" id="less5starsubmit" onclick="closeReview();sendReviews()">Submit Review</button>  
        </div> 
 
</div>

<div class="thankyoumsg" id="thankyoumsg">
    <div class="checkMark"> 
        <p class="star-checkmark">&#10003;</p>
        <p class="thankyoutxt">Thank you for the rating!</p>
        <p class="thankyoutxt2">We'll try to serve you better in the future!</p>
    </div>
</div> 
 
<script> 
//TABLE OF CONTENT 
//1.0 Define shorthand id
//2.0 Get number of stars   
//3.0 Fill gold color for stars 
//4.0 Assign selected opt to review model
//5.0 Create object & send params to AJAX Call 
//6.0 AJAX Call
//7.0 Show Thank you message  
 
//Set object for description
var review = {"easeOfUse": "","deliverySpeed": "","easeOPurchaseStep": "","customerService": "","performanceOfWebsite": "", "feedback" : "" , "star" : 5 }

//1.0 Define shorthand id
    function id(input){
      return document.getElementById(input)
    } 

//2.0 Get number of stars 
    function setStars(input){    
        for(var i=0; i < 5; i++){ 
            review.star = input 
            if(input == i){ 
                var starOpt = document.getElementsByClassName("nps-review-less")
                for(var i=0; i< starOpt.length; i++){
                    starOpt[i].style.display = "inline-block"
                } 
                id("nps-review-less-1").innerHTML = "Difficult to Use";
                id("nps-review-less-2").innerHTML = "Slow Delivery";
                id("nps-review-less-3").innerHTML = "Complicated Purchase Steps";
                id("nps-review-less-4").innerHTML = "Poor Customer Service";
                id("nps-review-less-5").innerHTML = "Slow Website";
                id("starMsg").innerHTML = "Thank you for rating us <br>Please provide us feedback for improvement"
                
                //show and hide buttons for 1-4 stars
                id("less5starsubmit").style.display="inline-block";                     
                id("nps-input").style.display="inline-block";     
                return input
            }
            if(input == 5){
                var starOpt = document.getElementsByClassName("nps-review-less")
                for(var i=0; i< starOpt.length; i++){
                    starOpt[i].style.display = "inline-block";
                }
                id("nps-review-less-1").innerHTML = "Good Look and Feel";
                id("nps-review-less-2").innerHTML = "Fast Delivery";
                id("nps-review-less-3").innerHTML = "Easy Purchase Steps";
                id("nps-review-less-4").innerHTML = "Friendly Customer Service";
                id("nps-review-less-5").innerHTML = "Fast Website";
                id("starMsg").innerHTML = "Thank you for rating us <br> Kindly select options, click on Submit Review and paste it to Google Review"

                //show and hide buttons for 5 stars   
                id("nps-input").style.display="inline-block";     
                id("less5starsubmit").style.display="inline-block"; 
            }
        } 
    }   

//3.0 Fill gold color for stars  
function fillstar(obj){
        var stars=document.getElementsByClassName("star")  
        for(i=0; i < stars.length; i++){ 
            var id = (obj.id).replace("star" , "")
            if (i <= id ){
                stars[i].src="./stylesheets/on.svg"
            }
            else{
                stars[i].src="./stylesheets/off.svg"
            }
        }
    }  
    
//4.0 Assign selected opt to review model
    function setReview(input,field){
        id(input).style.backgroundColor  ="#41c0f1"
        id(input).style.color  ="#fff"
        review[field]=id(input).innerHTML 
        //Create object for desc to be copied
        var desc = [
            {descText: "Friendly customer service, people from DoctorOnCall are friendly and provided me satisfying customer service."},
            {descText: "The delivery of products that I purchase was fast and next time I would definitely use DoctorOnCall service again."},
            {descText: "Easy purchasing steps on DoctorOnCall page, elders can also purchase medicines because the steps aren't complicated."},
            {descText: "The amount of effort that I personally have to put compared to normal private clinic is little and I managed to save a lot of time."},
            {descText: "Comfortable when I was using DoctorOnCall website. Not all websites give this feel, will recommend this to my family and friends."},
            {descText: "Prices of products in DoctorOnCall is lower than private clinic. Helpful customer service and my questions are answered quickly."},
            {descText: "DoctorOnCall gives a comprehensive medical information. The forum section and the doctors are all easy to approach and provide good answers and suggestions."},
            {descText: "DoctorOnCall meet my expectations, from good customer service and affordable price, will tell a friend!"},
            {descText: "I was looking for a specific supplement and managed to find the product in DoctorOnCall page in a few moments. Definitely going to recommend to family & friends."},
            {descText: "I often come to DoctorOnCall if I have any medical doubts. One of the trustworthy and reliable medical resources in Malaysia."}
        ]
        var randomDesc = []
//randomly select one of desc to be copied
        for(var i =0; i < 1; i++){
            var target = Math.floor(Math.random()*desc.length)
            randomDesc.push(desc[target])
            desc.splice(target ,1)
        }

        desc = randomDesc
//copy randomly taken desc
        for(var i=0; i< desc.length ; i++){  
        var copyText = desc[i].descText; 
        var fullLink = document.createElement('input');
        document.body.appendChild(fullLink);
        fullLink.value =  copyText;
        fullLink.select();
        document.execCommand("copy", false);
        fullLink.remove(); 
        }
    }   

//5.0 Create object & send params to AJAX Call
    function sendReviews(){
//declare obj to pass values less than 4 stars
        var feedback = id("nps-input").value
        review.feedback = feedback 
        sendPOSTAJAX(review) 
        if(review.star == 5){
            window.location.href="https://www.google.com/search?q=doctoroncall&rlz=1C1CHBF_enMY868MY868&oq=doctoroncall&aqs=chrome..69i57j0l5.2171j1j7&sourceid=chrome&ie=UTF-8#lkt=LocalPoiReviews&lrd=0x31cc4ea1b0dc1491:0xdb4e3073e413ce5f,3,,,&trex=m_t:lcl_akp,rc_f:nav,rc_ludocids:15802621416795524703,rc_q:DoctorOnCall,ru_q:DoctorOnCall"
        }  
    }   

//6.0 AJAX Call 
    function sendPOSTAJAX(input){
        var xmlhttp = new XMLHttpRequest()
        var url = 'https://script.google.com/macros/s/AKfycbz40LThVUuSChUW9dPBl_0i5mqQWd_f9J1Ckov9y5gOVD26JQj3/exec' 
        xmlhttp.onreadystatechange = function(){
            if(xmlhttp.readyState == XMLHttpRequest.DONE){
                if(xmlhttp.status == 200){
                    console.log("-> 200")
                }
                else if (xmlhttp.status == 400){
                    console.log("-> 400")
                }
                else{
                    console.log("anything")
                }
            }
        }
    xmlhttp.open("post", url, true)
    xmlhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded; charset=utf-8')
    xmlhttp.send(JSON.stringify(input))
    console.log(input)
} 

//7.0 Show Thank you message
    function closeReview(){
        id("npsBorderid").style.display = "none"
        id("thankyoumsg").style.display = "block"
    }   
</script>