 <div class="nps-border" id="npsBorderid">
        <p class="nps-border-title">Let us know how we're doing?</p> 
        <p class="nps-border-sub-title">We are always trying to improve what we do and your feedback is important!</p>  

        <div class="par-stardiv">
            <div class="stardiv rate1 sheetSubmitbtn" onclick="setStars(1)" id="star1">
            <img style="float:left;cursor:pointer;" src="./stylesheets/off.svg" class="ratestar rate3 sheetSubmitbtn" name="star" id="0" onclick="fillstar(this)" />
            </div>
            <div class="stardiv rate2 sheetSubmitbtn" onclick="setStars(2)" id="star2">
            <img style="float:left;cursor:pointer;" src="./stylesheets/off.svg" class="ratestar rate3 sheetSubmitbtn" name="star" id="1" onclick="fillstar(this)" />
            </div>
            <div class="stardiv rate3 sheetSubmitbtn" onclick="setStars(3)" id="star3">
            <img style="float:left;cursor:pointer;" src="./stylesheets/off.svg" class="ratestar rate3 sheetSubmitbtn" name="star" id="2" onclick="fillstar(this)" />
            </div>
            <div class="stardiv rate4 sheetSubmitbtn" onclick="setStars(4)" id="star4">
            <img style="float:left;cursor:pointer;" src="./stylesheets/off.svg" class="ratestar rate3 sheetSubmitbtn" name="star" id="3" onclick="fillstar(this)" />
            </div>
            <div class="stardiv rate5" onclick="setStars(5)" id="star5">
            <img style="cursor:pointer;" src="./stylesheets/off.svg" name="star"  class="ratestar rate5" id="4"  onclick="fillstar(this)" />
            </div> 
        </div>

    <div class="clearfix"></div>    
    <p id="star-5-msg-2" class="star-5-msg">Thank you for rating us <br>Please provide us feedback for improvement</p>
    <p id="star-5-msg" class="star-5-msg"> Kindly select options, click on <bluetag class="bluetag">Submit Review</bluetag> and paste it to Google Review</p>
    <div id="status"></div>  

    <div class="clearfix"></div>
    <div class="nps-review-box"> 
        <div id="nps-review-1" onclick="star5Review('nps-review-1','easeOfUse')" class="copy-clipboard nps-review">Good Look and Feel</div>  
        <div id="nps-review-2" onclick="star5Review('nps-review-2','deliverySpeed')" class="copy-clipboard nps-review">Fast Delivery </div> 
        <div id="nps-review-3" onclick="star5Review('nps-review-3','easeOPurchaseStep')" class="copy-clipboard nps-review"> Easy Purchase Steps</div> 
        <div id="nps-review-4" onclick="star5Review('nps-review-4','customerService')" class="copy-clipboard nps-review">Friendly Customer Service</div> 
        <div id="nps-review-5" onclick="star5Review('nps-review-5','performanceOfWebsite')" class="copy-clipboard nps-review">Fast Website</div> 
    </div>
    <div class="nps-review-box"> 
        <div id="nps-review-less-1" onclick="setReview('nps-review-less-1','easeOfUse')" class="copy-clipboard nps-review-less">Difficult to Use</div> 
        <div id="nps-review-less-2" onclick="setReview('nps-review-less-2','deliverySpeed')" class="copy-clipboard nps-review-less" value="Slow Delivery" readonly="readonly">Slow Delivery</div>
        <div id="nps-review-less-3" onclick="setReview('nps-review-less-3','easeOPurchaseStep')" class="copy-clipboard nps-review-less" value="Complicated Purchase Steps" readonly="readonly">Complicated Purchase Steps</div>
        <div id="nps-review-less-4" onclick="setReview('nps-review-less-4','customerService')" class="copy-clipboard nps-review-less" value="Poor Customer Service" readonly="readonly">Poor Customer Service</div>
        <div id="nps-review-less-5" onclick="setReview('nps-review-less-5','performanceOfWebsite')" class="copy-clipboard nps-review-less" value="Slow Website" readonly="readonly">Slow Website</div>
        </div>

    <div class="nps-input">
            <input type="text" id="nps-input" class="nps-border-input" placeholder="Share your experiences and we will improve based on your concern">
            <input type="text" id="nps-input5" class="nps-border-input" placeholder="Share your experiences and help others make better choices!">
    </div>   

    <div class="nps-href-box"> 
        <div class="nps-href" id="5starsubmit"> Submit Review</div>
        <button class="nps-href" id="less5starsubmit" onclick="closeReview()">Submit Review</button>  
    </div> 
 
    </div>

    <div class="thankyoumsg" id="thankyoumsg">
        <div class="checkMark">
            <img alt="Double Tick icon" src="https://img.icons8.com/bubbles/2x/double-tick.png" lazy="loaded">
            <p class="thankyoutxt">Thank you for the rating!</p>
            <p class="thankyoutxt2">We'll try to serve you better in the future!</p>
        </div>
</div> 
 
<script> 
//TABLE OF CONTENT 
//1.0 Fill gold color for stars
//2.0 addEventListeners
//3.0 Display buttons for less than 4 stars
//4.0 Display buttons for 5 stars 
//5.0 Get number of stars 
//6.0 Set object for description
//7.0 Create object & send params to AJAX Call
//8.0 AJAX Call
//9.0 Show Thank you message  


//1.0 Fill gold color for stars  
    function fillstar(Obj){
        var stars=document.getElementsByName(Obj.name)

        for(i=0;i<stars.length;i++){

            if (i<=Obj.id){stars[i].src="./stylesheets/on.svg"}
            else{stars[i].src="./stylesheets/off.svg"}
        }
    } 

//2.0 addEventListeners
    document.getElementById("star5").addEventListener("click"  ,get5star) 
    document.getElementById("star5").addEventListener("click", show5starSubmit) 
    document.getElementById("less5starsubmit").addEventListener("click",sendReviews)
    document.getElementById("5starsubmit").addEventListener("click", sendReviews5star) 
    
//3.0 Display buttons for less than 4 stars
    var getlessthan4stars = document.getElementsByClassName("sheetSubmitbtn")
    for(var i =0; i < getlessthan4stars.length; i++){
        getlessthan4stars[i].addEventListener("click" , hide5starpro, false)
        getlessthan4stars[i].addEventListener("click" , show4starSubmit, false)
    }   

    function show4starSubmit(){ 
        document.getElementById("less5starsubmit").style.display="inline-block"; 
        document.getElementById("nps-input5").style.display = "none"
        var npsReviewLess = document.getElementsByClassName("nps-review-less")
        for(var i=0; i < npsReviewLess.length; i++){
            npsReviewLess[i].style.display="inline-block"
        }
        var npsOptions = document.getElementsByClassName("nps-review")
        for(var i=0; i< npsOptions.length;i++){
            npsOptions[i].style.display="none";
        }
        document.getElementById("nps-input").style.display="inline-block" 
    }  
    function hide5starpro(){ 
        document.getElementById("star-5-msg").style.display="none";
        document.getElementById("5starsubmit").style.display="none";
        document.getElementById("star-5-msg-2").style.display="block"; 
    }

//4.0 Display buttons for 5 stars
    function show5starSubmit(){
        var star5checked = document.getElementById("star5")
        
        if(star5checked){
            document.getElementById("5starsubmit").style.display="inline-block"; 
        } 
        document.getElementById("nps-input").style.display = "none"
        document.getElementById("nps-input5").style.display = "inline-block"
    }  
    function get5star(){ 
        var npsOptions = document.getElementsByClassName("nps-review")
        for(var i=0; i< npsOptions.length;i++){
            npsOptions[i].style.display="inline-block";
        } 
        document.getElementById("star-5-msg").style.display="block";
        document.getElementById("less5starsubmit").style.display="none"; 
        var npsReviewLess = document.getElementsByClassName("nps-review-less")
        for(var i=0; i < npsReviewLess.length; i++){
            npsReviewLess[i].style.display="none"
        }
    }   

    //Define shorthand id
    function id(input){
      return document.getElementById(input)
    } 

//5.0 Get number of stars
    var getStar
    function setStars(input){    
        getStar = input   
        return input  
    }  

//6.0 Set object for description
    var star4DescModel = {"easeOfUse": "","deliverySpeed": "","easeOPurchaseStep": "","customerService": "","performanceOfWebsite": ""}
    function setReview(input,field){
        document.getElementById(input).style.backgroundColor  ="#41c0f1"
        document.getElementById(input).style.color  ="#fff"
        star4DescModel[field]=document.getElementById(input).innerHTML 
    }  
    
    function star5Review(input,field){ 
        document.getElementById(input).style.backgroundColor ="#41c0f1"
        document.getElementById(input).style.color ="#fff"
//Create object for desc to be copied
        var desc = [
            {descText: "Friendly customer service, people from DoctorOnCall are friendly and provided me satisfying customer service."},
            {descText: "The delivery of products that I purchase was fast and next time I would definitely use DoctorOnCall service again."},
            {descText: "Easy purchasing steps on DoctorOnCall page, elders can also purchase medicines because the steps aren't complicated."},
            {descText: "The amount of effort that I personally have to put compared to normal private clinic is little and I managed to save a lot of time."},
            {descText: "Comfortable when I was using DoctorOnCall website. Not all websites give this feel, will recommend this to my family and friends."},
            {descText: "Prices of products in DoctorOnCall is lower than private clinic. Helpful customer service and my questions are answered quickly."},
            {descText: "DoctorOnCall gives a comprehensive medical information. The forum section and the doctors are all easy to approach and provide good answers and suggestions."},
            {descText: "DoctorOnCall meet my expectations, from good customer service and affordable price, will tell a friend!"},
            {descText: "I was looking for a specific supplement and managed to find the product in DoctorOnCall page in a few moments. Definitely going to recommend to family & friends."},
            {descText: "I often come to DoctorOnCall if I have any medical doubts. One of the trustworthy and reliable medical resources in Malaysia."}
        ]
        var randomDesc = []
//randomly select one of desc to be copied
        for(var i =0; i<1;i++){
            var target = Math.floor(Math.random()*desc.length)
            randomDesc.push(desc[target])
            desc.splice(target ,1)
        }

        desc = randomDesc
//copy randomly taken desc
        for(var i=0; i< desc.length ; i++){  
        var copyText = desc[i].descText; 
        var fullLink = document.createElement('input');
        document.body.appendChild(fullLink);
        fullLink.value =  copyText;
        fullLink.select();
        document.execCommand("copy", false);
        fullLink.remove(); 
        }
    }  

//7.0 Create object & send params to AJAX Call
    function sendReviews(){
//declare obj to pass values less than 4 stars
        var feedback = document.getElementById("nps-input").value
        var review = {}  
        review.star = getStar 
        review.easeOfUse = star4DescModel.easeOfUse 
        review.deliverySpeed = star4DescModel.deliverySpeed
        review.easeOPurchaseStep =  star4DescModel.easeOPurchaseStep
        review.customerService =  star4DescModel.customerService
        review.performanceOfWebsite =  star4DescModel.performanceOfWebsite
        review.feedback = feedback 
        review.feedbackfor5star = "" 
        sendPOSTAJAX(review) 
    }  

    function sendReviews5star(){
        var feedback5 = document.getElementById("nps-input5").value 
        var review = {} 
        review.star = "5 star" 
        review.easeOfUse = ""
        review.deliverySpeed = ""
        review.easeOPurchaseStep =  ""
        review.customerService =  ""
        review.performanceOfWebsite =  ""
        review.feedback = ""
        review.feedbackfor5star = feedback5 
        sendPOSTAJAX(review)  
        window.location.href="https://www.google.com/search?q=doctoroncall&rlz=1C1CHBF_enMY868MY868&oq=doctoroncall&aqs=chrome..69i57j0l5.2171j1j7&sourceid=chrome&ie=UTF-8#lkt=LocalPoiReviews&lrd=0x31cc4ea1b0dc1491:0xdb4e3073e413ce5f,3,,,&trex=m_t:lcl_akp,rc_f:nav,rc_ludocids:15802621416795524703,rc_q:DoctorOnCall,ru_q:DoctorOnCall";
    }

//8.0 AJAX Call 
    function sendPOSTAJAX(input){
        var xmlhttp = new XMLHttpRequest()
        var url = 'https://script.google.com/macros/s/AKfycbz40LThVUuSChUW9dPBl_0i5mqQWd_f9J1Ckov9y5gOVD26JQj3/exec' 
        xmlhttp.onreadystatechange = function(){
            if(xmlhttp.readyState == XMLHttpRequest.DONE){
                if(xmlhttp.status == 200){
                    console.log("-> 200")
                }
                else if (xmlhttp.status == 400){
                    console.log("-> 400")
                }
                else{
                    console.log("anything")
                }
            }
        }
    xmlhttp.open("post", url, true)
    xmlhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded; charset=utf-8')
    xmlhttp.send(JSON.stringify(input))
    console.log(input)
}  

//9.0 Show Thank you message
    function closeReview(){
        document.getElementById("npsBorderid").style.display = "none"
        document.getElementById("thankyoumsg").style.display = "block"
    }   
</script>