 <div class="nps-border" id="nps-borderid"> 
     <p id="langBtn" onclick="changeLang('bm')" style="text-decoration: underline; cursor: pointer;
     text-align: right;color: #3498db;margin-right: 25px;margin-top: 20px;">Bahasa</p>
 
    <p id="langBtnEn" onclick="changeLang('en')" style="text-decoration: underline; cursor: pointer;
    text-align: right;color: #3498db;margin-right: 25px;margin-top: 20px;display: none;">English</p>
 
        <p id="headText1" class="nps-border-title">Let us know how we're doing?</p> 
        <p id="headText2" class="nps-border-sub-title">We are always trying to improve what we do and your feedback is important!</p>  
        
        <div class="nps-alignStars"> 
            <img src="./stylesheets/on.svg" class="nps-star" id="star0" onclick="fillstar(this);setStars(1)" />
            <img src="./stylesheets/on.svg" class="nps-star" id="star1" onclick="fillstar(this);setStars(2)" />
            <img src="./stylesheets/on.svg" class="nps-star" id="star2" onclick="fillstar(this);setStars(3)" />
            <img src="./stylesheets/on.svg" class="nps-star" id="star3" onclick="fillstar(this);setStars(4)" />
            <img src="./stylesheets/on.svg" class="nps-star" id="star4" onclick="fillstar(this);setStars(5)" />
        </div> 
 
        <p id="star-msg" class="nps-star-5-msg"></p>
        <div id="status"></div>

        <div class="clearfix"></div> 
        <div class="nps-review-box"> 
            <div id="nps-review-less-1" onclick="setReview('nps-review-less-1','easeOfUse')" class="nps-review-less"></div> 
            <div id="nps-review-less-2" onclick="setReview('nps-review-less-2','deliverySpeed')" class="nps-review-less"></div>
            <div id="nps-review-less-3" onclick="setReview('nps-review-less-3','easeOPurchaseStep')" class="nps-review-less"></div>
            <div id="nps-review-less-4" onclick="setReview('nps-review-less-4','customerService')" class="nps-review-less"></div>
            <div id="nps-review-less-5" onclick="setReview('nps-review-less-5','performanceOfWebsite')" class="nps-review-less"></div>
        </div>

        <div class="nps-input">
            <input type="text" id="nps-input" class="nps-border-input" placeholder="Share your experiences and help others make better choices!">
        </div>

        <div class="nps-href-box">
            <button class="nps-href" id="submit-btn" onclick="closeReview();sendReviews()">Submit Review</button>
        </div>  
</div>

<div class="nps-thankyou-msg" id="thankYouMsg">
    <div class="nps-checkMark"> 
        <p class="nps-star-checkmark">&#10003;</p>
        <p class="nps-thankyou-txt">Thank you for the rating!</p>
        <p class="nps-thankyou-txt2">We'll try to serve you better in the future!</p>
    </div>
</div> 
 
<script>  
//TABLE OF CONTENT 
//1.0 Define shorthand id
//2.0 Fill gold color for stars
//3.0 Get number of stars  
//4.0 Assign selected opt to review model
//5.0 Create object & send params to AJAX Call 
//6.0 AJAX Call
//7.0 Show Thank you message  
 
//Set object for description

var review = {"easeOfUse": "","deliverySpeed": "","easeOPurchaseStep": "","customerService": "","performanceOfWebsite": "", "feedback" : "" , "star" : 5 }
//Create object for desc to be copied
var desc = [
    {descText: "Friendly customer service, people from DoctorOnCall are friendly and provided me satisfying customer service."},
    {descText: "The delivery of products that I purchase was fast and next time I would definitely use DoctorOnCall service again."},
    {descText: "Easy purchasing steps on DoctorOnCall page, elders can also purchase medicines because the steps aren't complicated."},
    {descText: "The amount of effort that I personally have to put compared to normal private clinic is little and I managed to save a lot of time."},
    {descText: "Comfortable when I was using DoctorOnCall website. Not all websites give this feel, will recommend this to my family and friends."},
    {descText: "Prices of products in DoctorOnCall is lower than private clinic. Helpful customer service and my questions are answered quickly."},
    {descText: "DoctorOnCall gives a comprehensive medical information. The forum section and the doctors are all easy to approach and provide good answers and suggestions."},
    {descText: "DoctorOnCall meet my expectations, from good customer service and affordable price, will tell a friend!"},
    {descText: "I was looking for a specific supplement and managed to find the product in DoctorOnCall page in a few moments. Definitely going to recommend to family & friends."},
    {descText: "I often come to DoctorOnCall if I have any medical doubts. One of the trustworthy and reliable medical resources in Malaysia."}
]  

 var langObj={
 "en":{
    optDescText1:"Difficult to Use",
    optDescText2: "Slow Delivery",
    optDescText3: "Complicated Purchase Steps",
    optDescText4: "Poor Customer Service",
    optDescText5: "Slow Website",
    optDescText6: "Good Look and Feel",
    optDescText7: "Fast Delivery",
    optDescText8: "Easy Purchase Steps",
    optDescText9: "Friendly Customer Service",
    optDescText10: "Fast Website",
    headText1: "Let us know how we're doing?",
    headText2: "We are always trying to impove what we do and your feedback is important!"
  },
 "bm":{
    optDescText1:"Sukar Digunakan",
    optDescText2: "Penghantaran yang lambat",
    optDescText3: "Langkah Pembelian yang Rumit",
    optDescText4: "Khidmat Pelanggan Yang Teruk",
    optDescText5: "Laman Sesawang yang Perlahan",
    optDescText6: "Kelihatan Kemas dan Menarik",
    optDescText7: "Penghantaran yang cepat",
    optDescText8: "Langkah Pembelian yang mudah",
    optDescText9: "Pegawai Khidmat Pelanggan yang mesra",
    optDescText10: "Laman Sesawang yang laju",
    headText1: "Sila beritahu pendapat anda tentang kami?",
    headText2: "Kami sentiasa cuba memperbaiki apa yang kami lakukan dan maklum balas anda penting!"

 }
} 
    var optDescText1 ,optDescText2,optDescText3,optDescText4,optDescText5,optDescText6, optDescText7, optDescText8, optDescText9, optDescText10, headText1, headText2
    function loadLanguage(lang){
        optDescText1 = langObj[lang].optDescText1
        optDescText2 = langObj[lang].optDescText2
        optDescText3 = langObj[lang].optDescText3
        optDescText4 = langObj[lang].optDescText4
        optDescText5 = langObj[lang].optDescText5
        optDescText6 = langObj[lang].optDescText6
        optDescText7 = langObj[lang].optDescText7
        optDescText8 = langObj[lang].optDescText8
        optDescText9 = langObj[lang].optDescText9
        optDescText10 = langObj[lang].optDescText10 
        headText1 = langObj[lang].headText1
        headText2 = langObj[lang].headText2

        id("headText1").innerHTML = headText1
        id("headText2").innerHTML = headText2

        if(review.star == 5){
            id("nps-review-less-1").innerHTML = optDescText6
            id("nps-review-less-2").innerHTML = optDescText7
            id("nps-review-less-3").innerHTML = optDescText8
            id("nps-review-less-4").innerHTML = optDescText9
            id("nps-review-less-5").innerHTML = optDescText10
        }else if(review.star == 4){
            id("nps-review-less-1").innerHTML = optDescText1
            id("nps-review-less-2").innerHTML = optDescText2
            id("nps-review-less-3").innerHTML = optDescText3
            id("nps-review-less-4").innerHTML = optDescText4
            id("nps-review-less-5").innerHTML = optDescText5
        }else if(review.star == 3){
            id("nps-review-less-1").innerHTML = optDescText1
            id("nps-review-less-2").innerHTML = optDescText2
            id("nps-review-less-3").innerHTML = optDescText3
            id("nps-review-less-4").innerHTML = optDescText4
            id("nps-review-less-5").innerHTML = optDescText5
        }else if(review.star == 2){
            id("nps-review-less-1").innerHTML = optDescText1
            id("nps-review-less-2").innerHTML = optDescText2
            id("nps-review-less-3").innerHTML = optDescText3
            id("nps-review-less-4").innerHTML = optDescText4
            id("nps-review-less-5").innerHTML = optDescText5
        }else if(review.star == 1){
            id("nps-review-less-1").innerHTML = optDescText1
            id("nps-review-less-2").innerHTML = optDescText2
            id("nps-review-less-3").innerHTML = optDescText3
            id("nps-review-less-4").innerHTML = optDescText4
            id("nps-review-less-5").innerHTML = optDescText5
        }
    }

//1.0 Define shorthand id
    function id(input){
      return document.getElementById(input)
    } 

//2.0 Fill gold color for stars  
    function fillstar(obj){
        var stars=document.getElementsByClassName("nps-star")  
        for(i=0; i < stars.length; i++){ 
            var id = (obj.id).replace("star" , "")
            if (i <= id ){
                stars[i].src="./stylesheets/on.svg" 
            }
            else{
                stars[i].src="./stylesheets/off.svg"
            }
        }
    }     

    function changeLang(input){
        var langBtn = id("langBtn")
        var langBtnEn = id("langBtnEn")
        if(input == "en"){  
            langBtn.style.display = "block"
            langBtnEn.style.display = "none"  
            loadLanguage("en")
        }else if(input == "bm"){ 
            langBtn.style.display = "none"
            langBtnEn.style.display = "block"  
            loadLanguage("bm") 
        }
    } 

//3.0 Get number of stars 
    function setStars(input){    
        for(var i=0; i < 5; i++){ 
            review.star = input 
            if(input == i){ 
                var starOpt = document.getElementsByClassName("nps-review-less")
                for(var i=0; i< starOpt.length; i++){
                    starOpt[i].style.display = "inline-block"
                }   
                id("nps-review-less-1").innerHTML = optDescText1
                id("nps-review-less-2").innerHTML = optDescText2
                id("nps-review-less-3").innerHTML = optDescText3
                id("nps-review-less-4").innerHTML = optDescText4
                id("nps-review-less-5").innerHTML = optDescText5 
                // id("star-msg").innerHTML = optDesc[10].optDescText;
                
                //show and hide buttons for 1-4 stars
                id("submit-btn").style.display="inline-block";                     
                id("nps-input").style.display="inline-block";     
                return input
            }
            if(input == 5){
                var starOpt = document.getElementsByClassName("nps-review-less")
                for(var i=0; i< starOpt.length; i++){
                    starOpt[i].style.display = "inline-block";
                }
                id("nps-review-less-1").innerHTML = optDescText6
                id("nps-review-less-2").innerHTML = optDescText7
                id("nps-review-less-3").innerHTML = optDescText8
                id("nps-review-less-4").innerHTML = optDescText9
                id("nps-review-less-5").innerHTML = optDescText10
                // id("star-msg").innerHTML = optDesc[11].optDescText;  
              
                //show and hide buttons for 5 stars   
                id("nps-input").style.display="inline-block";     
                id("submit-btn").style.display="inline-block"; 
            }
        } 
    }   
    
//4.0 Assign selected opt to review model
    function setReview(input,field){
        id(input).style.backgroundColor  ="#41c0f1"
        id(input).style.color  ="#fff"
        review[field]=id(input).innerHTML  
    }   

//5.0 Create object & send params to AJAX Call
    function sendReviews(){ 
        var feedback = id("nps-input")
        var feedbackValue = id("nps-input").value 
        review.feedback = feedbackValue 

        var special_char = "*|\:<>[]{}`\;()@$#%";

        for (var i = 0; review.feedback.length > i; i++) {
        if(review.feedback.length < 3 || special_char.indexOf(review.feedback.charAt(i)) != -1){
        
        return console.log("error description")
        }
    }
        sendPOSTAJAX(review)  

        if(review.star == 5 && feedback.value.length == 0){
        var randomDesc = desc[Math.round( Math.random()*desc.length)].descText;    
        utilityCopyFeedback(randomDesc)  
        alert("Thank you for your feedback! We have copied the review for you. Please paste this at Google Review to help others to make better decision.")
        window.location.href="https://www.google.com/search?q=doctoroncall&rlz=1C1CHBF_enMY868MY868&oq=doctoroncall&aqs=chrome..69i57j0l5.2171j1j7&sourceid=chrome&ie=UTF-8#lkt=LocalPoiReviews&lrd=0x31cc4ea1b0dc1491:0xdb4e3073e413ce5f,3,,,&trex=m_t:lcl_akp,rc_f:nav,rc_ludocids:15802621416795524703,rc_q:DoctorOnCall,ru_q:DoctorOnCall"
        }else if(review.star == 5 && feedback.value.length != 0){  
        utilityCopyFeedback(feedbackValue) 
        alert("Thank you for your feedback! We have copied the review for you. Please paste this at Google Review to help others to make better decision.")
        window.location.href="https://www.google.com/search?q=doctoroncall&rlz=1C1CHBF_enMY868MY868&oq=doctoroncall&aqs=chrome..69i57j0l5.2171j1j7&sourceid=chrome&ie=UTF-8#lkt=LocalPoiReviews&lrd=0x31cc4ea1b0dc1491:0xdb4e3073e413ce5f,3,,,&trex=m_t:lcl_akp,rc_f:nav,rc_ludocids:15802621416795524703,rc_q:DoctorOnCall,ru_q:DoctorOnCall"
        } 
    }

    function utilityCopyFeedback(inputfeedback){
        var fullLink = document.createElement('input');
        document.body.appendChild(fullLink);
        fullLink.value =  inputfeedback; 
        fullLink.select();
        document.execCommand("copy", false);
        fullLink.remove(); 
    }   

//6.0 AJAX Call 
    function sendPOSTAJAX(input){
        var xmlhttp = new XMLHttpRequest()
        var url = 'https://script.google.com/macros/s/AKfycbz40LThVUuSChUW9dPBl_0i5mqQWd_f9J1Ckov9y5gOVD26JQj3/exec' 
        xmlhttp.onreadystatechange = function(){
            if(xmlhttp.readyState == XMLHttpRequest.DONE){
                if(xmlhttp.status == 200){
                    console.log(JSON.parse(xmlhttp.responseText))
                }
                else if (xmlhttp.status == 400){
                    console.log("400 Bad Request")
                }
                else{
                    console.log("Error in AJAX Call") 
                }
            }
        }
    xmlhttp.open("post", url, true)
    xmlhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded; charset=utf-8')
    xmlhttp.send(JSON.stringify(input))
    console.log(input)
} 

//7.0 Show Thank you message
    function closeReview(){
        id("nps-borderid").style.display = "none"
        id("thankYouMsg").style.display = "block"
    }   

    document.addEventListener('DOMContentLoaded', function(){ 
        loadLanguage("en")
    });
</script>