<section class="container-fluid mobile-only">
                <div class="row">
                  <div class="main-read-health-articles">
                      <h2>Read Health Articles</h2>
                  </div>

                  <div class="main-health-questions-mobile-only main-read-articles-slider">

                      <div class="main-health-question-1">

                        
                          <div class="main-health-div-1">
                          <div class="main-health-diagram1">
                              <img src="images/AdobeStock_143966522.png">
                          </div>
                          <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Apakah Penyebab Gusi Bengkak Dan Cara Merawat ?</p>
                          <div class="main-dr-img">
                              <img src="/images/Ellipse 232@2x.png" class="main-health-dr-img">
                              <p class="main-health-p">Dr M Ramzdhan <br> </p>
                              <p class="main-health-text-dr main-health-p">General Practitioner</p>
                          </div>
                      </div>

                      <div class="main-health-div-1">
                              <div class="main-health-diagram1">
                                  <img src="images/AdobeStock_63845531.png">
                              </div>
                              <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Tanda hamil (Pregnancy Signs) bagi<br> mengenalpasti anda mengandung.</p>
                              <div class="main-dr-img">
                                  <img src="/images/Ellipse 232@2x.png" class="main-health-dr-img">
                                  <p class="main-health-p">Dr M Ramzdhan <br> </p>
                                  <p class="main-health-text-dr main-health-p">General Practitioner</p>
                              </div>
                          </div>

                          <div class="main-health-div-1">
                                  <div class="main-health-diagram1">
                                      <img src="images/AdobeStock_234927937.png">
                                  </div>
                                  <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Apakah Punca Dan Rawatan Bagi Kerap Kencing?</p>
                                  <div class="main-dr-img">
                                      <img src="/images/Ellipse 232@2x.png" class="main-health-dr-img">
                                      <p class="main-health-p">Dr M Ramzdhan <br> </p>
                                      <p class="main-health-text-dr main-health-p">General Practitioner</p>
                                  </div>
                              </div>
                      </div>

                      <div class="main-health-questions-2"> 
                              <div class="main-health-div-1">
                                      <div class="main-health-diagram1">
                                          <img src="images/AdobeStock_118246577.png">
                                      </div>
                                      <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Bolehkah doktor terangkan apakah Penyebab Kencing Berdarah?<br><br></p>
                                      <div class="main-dr-img">
                                          <img src="/images/Ellipse 232@2x.png" class="main-health-dr-img">
                                          <p class="main-health-p">Dr M Ramzdhan <br> </p>
                                          <p class="main-health-text-dr main-health-p">General Practitioner</p>
                                      </div>
                                  </div>

                                  <div class="main-health-div-1">
                                          <div class="main-health-diagram1">
                                              <img src="images/AdobeStock_203387316.png">
                                          </div>
                                          <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Adakah lelaki dan wanita mempunyai kecenderungan yang sama untuk mendapat kegatalan di bahagian kemaluan ?</p>
                                          <div class="main-dr-img">
                                              <img src="/images/Ellipse 232@2x.png" class="main-health-dr-img">
                                              <p class="main-health-p">Dr M Ramzdhan <br> </p>
                                              <p class="main-health-text-dr main-health-p">General Practitioner</p>
                                          </div>
                                      </div>

                                      <div class="main-health-div-1">
                                              <div class="main-health-diagram1">
                                                  <img src="images/AdobeStock_278022401.png">
                                              </div>
                                              <p class="main-health-text-p">Wed, May 16 2018<br></p> <p class="main-health-text">Bolehkah doktor terangkan apa bacaan gula normal (Normal Glucose Reading) dan bagaimana memeriksa parasnya?</p>
                                              <div class="main-dr-img">
                                                  <img src="/images/Ellipse 232@2x.png" class="main-health-dr-img">
                                                  <p class="main-health-p">Dr M Ramzdhan <br> </p>
                                                  <p class="main-health-text-dr main-health-p">General Practitioner</p>
                                              </div>
                                          </div>

                      </div>
                  </div>
                </div>
                </section>   