<!DOCTYPE html>
<html lang="en">
    <head>
<!--Head section starts from here--> 
        <%include partials/main-head%> 
        
    </head>

    <body> 
<!--Header section starts from here-->
    <%include partials/main-header%>
    
<!--Search section starts from here-->
        <%include partials/main-search-section%>  

<!--Partner logo section starts from here-->
<%include partials/main-partner-logo%> 

<!--Partner logo section Mobile version starts from here-->
<%include partials/main-partner-logo-mobile%> 

<!--E-Pharmacy section starts from here -->
        <%include partials/main-ePharmacy%> 

<!--How DoctorOnCall section starts from here -->
        <%include partials/main-howdocworks%> 

<!--Find Doctor in Top Specialist section starts from here -->
        <%include partials/main-finddocspecialist%> 

<!--Read Health articles mobile version starts from here-->
        <%include partials/main-read-health-article-mobile%> 

<!--Read Health articles Desktop version starts from here-->
        <%include partials/main-read-health-article-desktop%> 
 
<!--Health articles Desktop version starts from here-->
        <%include partials/main-health-article-desktop%> 

<!--Health articles Mobile version starts from here-->
        <%include partials/main-health-article-mobile%> 
<br>
<br>
<!--Next page button-->
        <%include partials/main-nextpage-btn%> 

 <!--Connect with doctors Desktop version starts from here-->
        <%include partials/main-connect-with-doc-desktop%>

<!--Connect with doctors Mobile version starts from here-->
        <%include partials/main-connect-with-doc-mobile%>

<!--Featured on section starts from here-->
        <%include partials/main-featured-on%>

<!--Subscribe section starts from here-->
        <%include partials/main-subscribe%> 

<!--Pop us section starts from here-->
        <%include partials/main-pop-up%>

<!--Footer section starts from here--> 
        <%include partials/main-footer%>  
    </body> 

</html> 