<!DOCTYPE html>
<html>
    <head>
<!--Head section starts from here-->
        <%include partials/head%>
    </head>

    <body>
<!--Search section starts from here-->
        <%include partials/search-section%> 

<!--Partner logo section starts from here-->
        <%include partials/partner-logo%> 

<!--E-Pharmacy section starts from here -->
        <%include partials/ePharmacy%> 

<!--How DoctorOnCall section starts from here -->
        <%include partials/howdocworks%> 

<!--Find Doctor in Top Specialist section starts from here -->
        <%include partials/finddocspecialist%> 

<!--Read Health articles mobile version starts from here-->
        <%include partials/read-health-article-mobile%> 

<!--Read Health articles Desktop version starts from here-->
        <%include partials/read-health-article-desktop%> 

<!--Read about disease tab starts from here-->
        <%include partials/read-about-disease%> 

<!--Health articles Desktop version starts from here-->
        <%include partials/health-article-desktop%> 

<!--Health articles Mobile version starts from here-->
        <%include partials/health-article-mobile%> 
<br>
<br>
<!--Next page button-->
        <%include partials/nextpage-btn%> 

 <!--Connect with doctors Desktop version starts from here-->
        <%include partials/connect-with-doc-desktop%>

<!--Connect with doctors Mobile version starts from here-->
        <%include partials/connect-with-doc-mobile%>

<!--Featured on section starts from here-->
        <%include partials/featured-on%>

<!--Subscribe section starts from here-->
        <%include partials/subscribe%> 
    </body>

</html> 