<!DOCTYPE html>
<html>
    <head>
<!--Head section starts from here-->
        <%include partials/main-head%>
    </head>

    <body>
<!--Search section starts from here-->
        <%include partials/main-search-section%> 

<!--Partner logo section starts from here-->
        <%include partials/main-partner-logo%> 

<!--E-Pharmacy section starts from here -->
        <%include partials/main-ePharmacy%> 

<!--How DoctorOnCall section starts from here -->
        <%include partials/main-howdocworks%> 

<!--Find Doctor in Top Specialist section starts from here -->
        <%include partials/main-finddocspecialist%> 

<!--Read Health articles mobile version starts from here-->
        <%include partials/main-read-health-article-mobile%> 

<!--Read Health articles Desktop version starts from here-->
        <%include partials/main-read-health-article-desktop%> 

<!--Read about disease tab starts from here-->
        <%include partials/main-read-about-disease%> 

<!--Health articles Desktop version starts from here-->
        <%include partials/main-health-article-desktop%> 

<!--Health articles Mobile version starts from here-->
        <%include partials/main-health-article-mobile%> 
<br>
<br>
<!--Next page button-->
        <%include partials/main-nextpage-btn%> 

 <!--Connect with doctors Desktop version starts from here-->
        <%include partials/main-connect-with-doc-desktop%>

<!--Connect with doctors Mobile version starts from here-->
        <%include partials/main-connect-with-doc-mobile%>

<!--Featured on section starts from here-->
        <%include partials/main-featured-on%>

<!--Subscribe section starts from here-->
        <%include partials/main-subscribe%> 
    </body>

</html> 